#ignore
.git
.gitignore
.dockerignore
README.md
docker-compose.yml
deployment.yaml
deploy.sh
Dockerfile
useful-commands.md
pom.xml
node_modules
npm-debug.log
docs/
.kubernetes
.elasticbeanstalk/
*.zip


#don't ignore
!.kubernetes/auth/*.json
