*.baml
*.bat
*.cache
*.class
*.dot
*.log
*.g.cs
*.g.i.cs
*.g.resources
*.iml
*.suo
*.user
*.versionsBackup
*.war
*.zip
*.lck
Thumbs.db
.classpath
.DS_Store
.gitconfig
.metadata
.project
.settings
.idea
.m2
.bash_history
.oracle_jre_usage
bin
obj
target
logs
node_modules


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
