.version.ensuring_environmental_justice /* version checker */
{
	color: #0000FD;
	background-color: #A81EBF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1552.5344136249987px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -31px;
	width: 0.01px;/* should not cover content below */
}

#u48397
{
	z-index: 51;
	min-height: 60px;
	padding-bottom: 13px;
}

#u48411
{
	z-index: 52;
	width: 199px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 88px;
}

#u48413-5
{
	z-index: 53;
	position: relative;
	width: 59px;
	margin-right: -10000px;
}

#u48412-4
{
	z-index: 58;
	position: relative;
	width: 140px;
	margin-right: -10000px;
	left: 59px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u48397-bw
{
	z-index: 51;
	min-height: 60px;
}

#u53180
{
	width: 93px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
}

#u53183
{
	width: 93px;
	padding-bottom: 24px;
	position: relative;
}

#u53186-4
{
	width: 93px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u53173
{
	width: 93px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 95px;
}

#u53174
{
	width: 93px;
	padding-bottom: 24px;
	position: relative;
}

#u53183.MuseMenuActive,#u53174.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u53176-4
{
	width: 93px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u53183.MuseMenuActive #u53186-4,#u53174.MuseMenuActive #u53176-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u53166
{
	width: 94px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u53167
{
	width: 94px;
	padding-bottom: 24px;
	position: relative;
}

#u53168-4
{
	width: 94px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u53187
{
	width: 94px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u53188
{
	width: 94px;
	padding-bottom: 24px;
	position: relative;
}

#u53167.MuseMenuActive,#u53188.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u53190-4
{
	width: 94px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u53167.MuseMenuActive #u53168-4,#u53188.MuseMenuActive #u53190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#menuu53165,#menuu53165-bw
{
	z-index: 62;
	min-height: 48px;
}

#u47372
{
	z-index: 24;
	height: 111px;
	background: #E6E4E4 url("../../images/environement-cropped.jpg") no-repeat center center;
	background-size: cover;
}

#u47372-bw
{
	z-index: 24;
	margin-top: 1px;
	height: 111px;
}

#u47369-6
{
	z-index: 2;
	width: 260px;
	min-height: 43px;
	background-color: transparent;
	line-height: 36px;
	color: #000000;
	font-size: 30px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 60px;
	margin-top: 11px;
	position: relative;
}

#pcontactusmobile
{
	width: 0.01px;
	margin-left: -500px;
}

#contactusmobile
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 133px;
}

#u47371-16
{
	z-index: 8;
	width: 354px;
	min-height: 606px;
	background-color: transparent;
	font-size: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 513px;
}

#u47371-2,#u47371-3,#u47371-4
{
	text-align: left;
	line-height: 28px;
	color: #7F7F7F;
}

#u47371-6
{
	text-align: center;
	color: #7F7F7F;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u47371-5
{
	font-size: 24px;
	color: #000000;
	line-height: 34px;
}

#u47371-13
{
	text-align: left;
	line-height: 28px;
	color: #999999;
}

#u47371-9,#u47371-12
{
	color: #5E5B5B;
}

#u47371-14
{
	line-height: 32px;
}

#buttonu49986
{
	z-index: 25;
	width: 278px;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #787878;
	margin-left: 51px;
	margin-top: 42px;
	position: relative;
	background: transparent url("../../images/islam_blur.jpg") no-repeat center center;
	background-size: cover;
}

#u49987-4
{
	z-index: 26;
	width: 278px;
	min-height: 60px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	line-height: 53px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu49996
{
	z-index: 45;
	width: 278px;
	border-color: #787878;
	margin-left: 51px;
	margin-top: 12px;
	position: relative;
	background: transparent url("../../images/immigration_blur.jpg") no-repeat center center;
	background-size: cover;
}

#u49997-4
{
	z-index: 46;
	width: 278px;
	min-height: 60px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	line-height: 53px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu49988
{
	z-index: 30;
	width: 278px;
	border-color: #787878;
	margin-left: 51px;
	margin-top: 12px;
	position: relative;
	background: transparent url("../../images/womem_blur.jpg") no-repeat center center;
	background-size: cover;
}

#u49989-4
{
	z-index: 31;
	width: 278px;
	min-height: 60px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	line-height: 53px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu49990
{
	z-index: 35;
	width: 278px;
	border-color: #787878;
	padding-bottom: 1px;
	margin-left: 51px;
	margin-top: 12px;
	position: relative;
	background: transparent url("../../images/lgbtq_blur.jpg") no-repeat center center;
	background-size: cover;
}

#u49991-4
{
	z-index: 36;
	width: 278px;
	min-height: 60px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	line-height: 53px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu49994
{
	z-index: 40;
	width: 278px;
	border-color: #787878;
	margin-left: 51px;
	margin-top: 11px;
	position: relative;
	background: transparent url("../../images/voters_blur.jpg") no-repeat center center;
	background-size: cover;
}

#u49995-4
{
	z-index: 41;
	width: 278px;
	min-height: 60px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	line-height: 53px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu49986.ButtonSelected #u49987-4,#buttonu49996.ButtonSelected #u49997-4,#buttonu49988.ButtonSelected #u49989-4,#buttonu49990.ButtonSelected #u49991-4,#buttonu49994.ButtonSelected #u49995-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	width: 278px;
	margin: 0px -10000px 0px 0px;
}

#u49998
{
	z-index: 50;
	height: 12px;
	background-color: #FFFFFF;
}

#u49998-bw
{
	z-index: 50;
	margin-top: 1px;
	height: 12px;
}

#pu46922
{
	width: 0.01px;
	margin-top: -1px;
}

#u46922
{
	z-index: 87;
	min-height: 278.5000000000002px;
	padding: 22px 23px 259.4999999999998px 18px;
}

#pu47213
{
	width: 0.01px;
	margin-left: 14px;
	position: relative;
}

#u47213
{
	z-index: 119;
	width: 48px;
	position: relative;
	margin-right: -10000px;
}

#u47203
{
	z-index: 117;
	width: 48px;
	position: relative;
	margin-right: -10000px;
	left: 131px;
}

#u47193
{
	z-index: 115;
	width: 48px;
	position: relative;
	margin-right: -10000px;
	left: 262px;
}

#u46928-9
{
	z-index: 93;
	width: 339px;
	min-height: 104px;
	margin-top: 17px;
	position: relative;
}

#pu46930-4
{
	width: 0.01px;
	margin-left: 57px;
	margin-top: 17px;
	position: relative;
}

#u46930-4
{
	z-index: 102;
	position: relative;
	width: 76px;
	margin-right: -10000px;
}

#u46932-4
{
	z-index: 106;
	position: relative;
	width: 154px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 76px;
}

#u46931-4
{
	z-index: 110;
	margin-left: 57px;
	position: relative;
}

#u46922-bw
{
	z-index: 87;
	min-height: 278.5000000000002px;
}

#u47072
{
	z-index: 88;
	min-height: 65px;
	padding-bottom: 6px;
}

#u46927-4
{
	z-index: 89;
	width: 339px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 18px;
}

#u47072-bw
{
	z-index: 88;
	min-height: 65px;
	margin-top: 459px;
}

#menuu51651
{
	z-index: 121;
	width: 358px;
	position: relative;
	margin-right: -10000px;
	margin-top: 321px;
	left: 8px;
}

#u51666
{
	width: 358px;
	position: relative;
}

#u51669
{
	width: 358px;
	min-height: 22px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u51671-4
{
	width: 358px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u51662
{
	width: 358px;
	min-height: 22px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u51663-4
{
	width: 358px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u51674
{
	width: 358px;
	min-height: 22px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u51677-4
{
	width: 358px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u51659,#u51673,#u51652
{
	width: 358px;
	margin-top: 2px;
	position: relative;
}

#u51655
{
	width: 358px;
	min-height: 22px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u51669.MuseMenuActive,#u51662.MuseMenuActive,#u51674.MuseMenuActive,#u51655.MuseMenuActive
{
	width: 358px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u51656-4
{
	width: 358px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u51669.MuseMenuActive #u51671-4,#u51662.MuseMenuActive #u51663-4,#u51674.MuseMenuActive #u51677-4,#u51655.MuseMenuActive #u51656-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 358px;
	margin: 0px -10000px 0px 0px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

