<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issues</title>
  <h1>Issues</h1>
</head>
<body>
<p>Given the threats we anticipate to marginalized communities over the next four years,
  our mission is to support and resource movements that are fighting to advance progress,
  and to protect the rights of all people in our country.
  <br/><br/>Our community is your community. From across the United States,
  we focus on supporting the rights of those most threatened by discriminatory legislation and executive action at local, state, and federal levels.
  We all commit to donating small amounts of money--as little as $5/month--every month for the next four years to fund the progressive organizations
  that are ready to defend vulnerable populations at a moment’s notice.</p>
</body>
</html>
