<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="application.properties"/>
    <!-- ********** Aliases ********** -->
    <typeAliases>
    </typeAliases>
    <!-- ********** Environments ********** -->
    <environments default="develop">
        <!-- Development (local only) -->
        <environment id="develop-user">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.h2.Driver"/>
                <property name="url" value="jdbc:h2:mem:test"/>
                <property name="username" value="sa"/>
                <property name="password" value="sa"/>
            </dataSource>
        </environment>
        <environment id="develop-transaction">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.h2.Driver"/>
                <property name="url" value="jdbc:h2:mem:test"/>
                <property name="username" value="sa"/>
                <property name="password" value="sa"/>
            </dataSource>
        </environment>
    </environments>
    <!-- ********** Mappers ********** -->
    <mappers>
        <mapper resource="mybatis-mapper.user.xml"/>
        <mapper resource="mybatis-mapper.transaction.xml"/>
    </mappers>
</configuration>
