<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
    <!--Find all users-->
    <select id="selectUsers"
            parameterType="string"
            resultType="User">
        SELECT * FROM USERSDB
        ORDER BY name ASC;
    </select>

    <select id="selectUserByEmail"
            parameterType="string"
            resultType="User">
        Select * FROM USERSDB
        WHERE email = #{email};
    </select>

    <!--Insert an User-->
    <insert id="insertUser"
            parameterType="User"
            useGeneratedKeys="true"
            keyColumn="ID"
            keyProperty="id">
        INSERT INTO USERSDB(
        id,
        name,
        joined,
        updated,
        charities,
        email,
        phoneNumber,
        content)
        VALUES(
        #{name},
        #{joined},
        #{updated},
        #{charities},
        #{email},
        #{phoneNumber},
        #{content});
    </insert>

    <insert id="updateUser"
                parameterType="User">
        UPDATE USERSDB
        SET
        name = #{name},
        joined = #{joined},
        updated = #{updated},
        charities = #{charities},
        phoneNumber = #{phoneNumber},
        content  #{content}
        WHERE email = #{email}
    </insert>

    <delete id="deleteUserByEmail"
            parameterType="string">
        DELETE FROM USERSDB
        WHERE email = #{email}
    </delete>
</mapper>