#menuu94
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 50px;
}

#u96
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #DBD6D6;
}

#u98-4
{
	border-width: 0px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 2px;
	color: #FFFFFF;
}

#u2089
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #DBD6D6;
}

#u2091-4
{
	border-width: 0px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 2px;
	color: #FFFFFF;
}

#u2550
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u2550:hover
{
	background-color: #AAAAAA;
}

#u2553-4
{
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #8B8888;
}

#u2110
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #DBD6D6;
}

#u2111-4
{
	border-width: 0px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 2px;
	color: #FFFFFF;
}

#u2430
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u2430:hover
{
	background-color: #AAAAAA;
}

#u2434-4
{
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #8B8888;
}

#u2131
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #DBD6D6;
}

#u2134-4
{
	border-width: 0px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 2px;
	color: #FFFFFF;
}

#u2150
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #DBD6D6;
}

#u2152-4
{
	border-width: 0px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 2px;
	color: #FFFFFF;
}

#u2477
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u2477:hover
{
	background-color: #AAAAAA;
}

#u2481-4
{
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #8B8888;
}

#u2549,#u2428,#u2475,#u2591
{
	background-color: transparent;
}

#u2592
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u2592:hover
{
	background-color: #AAAAAA;
}

#u2550.MuseMenuActive,#u2430.MuseMenuActive,#u2477.MuseMenuActive,#u2592.MuseMenuActive
{
	background-color: #666666;
}

#u2595-4
{
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	color: #8B8888;
}

#u95,#u2086,#u2087,#u2088,#u2107,#u2108,#u2109,#u2128,#u2149,#u2154,#u2155,#u2170
{
	border-width: 0px;
	background-color: transparent;
}

#u2171
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #DBD6D6;
}

#u2173-4
{
	border-width: 0px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 2px;
	color: #FFFFFF;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

