.version.donate /* version checker */
{
	color: #000016;
	background-color: #6513A1;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2608px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#pu8029
{
	width: 0.01px;
	padding-bottom: 260px;
	margin-right: -10000px;
	margin-top: -27px;
	margin-left: -100px;
}

#u8029
{
	z-index: 3;
	height: 82px;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,#FFFFFF ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,#FFFFFF ,rgba(255,255,255,0) 100%);
	filter: alpha(opacity=85) progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	opacity: 0.85;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u8029-bw
{
	z-index: 3;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 151px;
}

#u41698
{
	z-index: 4;
	height: 122px;
	position: fixed;
	top: -27px;
}

#u41698-bw
{
	z-index: 4;
}

#u37688
{
	z-index: 5;
	width: 909px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 70px;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -460px;
}

#u37760
{
	z-index: 69;
	width: 187px;
	background-color: #FFFFFF;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -460px;
}

#menuu37689
{
	z-index: 6;
	width: 514px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	position: fixed;
	top: 48px;
	left: 50%;
	margin-left: -65px;
}

#u37704
{
	width: 108px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u37705
{
	width: 74px;
	border-color: #000000;
	background-color: transparent;
	border-radius: 1px;
	padding-left: 17px;
	padding-right: 17px;
	padding-bottom: 18px;
	position: relative;
}

#u37705.MuseMenuActive
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u37706-4
{
	width: 74px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 20px;
	letter-spacing: 3px;
	color: #5E5B5B;
	line-height: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37705:hover #u37706-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 74px;
	margin: 0px;
}

#u37705.MuseMenuActive #u37706-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 74px;
	margin: 0px;
}

#u37705:hover #u37706-4 p
{
	color: #D8D2D2;
	visibility: inherit;
}

#u37709
{
	width: 425px;
	background-color: transparent;
	top: 42px;
}

#u37710
{
	width: 425px;
	background-color: #D8D2D2;
	position: relative;
}

#u37740
{
	width: 281px;
	background: #FFFFFF url("../images/u37740-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	padding: 2px 142px 5px 2px;
}

#u37740:hover
{
	background: #FFFFFF url("../images/u37740-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#AAAAAA),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#AAAAAA ,#FFFFFF 46%);
	background: linear-gradient(to right,#AAAAAA ,#FFFFFF 46%);
	width: 281px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u37742-4
{
	width: 277px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #5E5B5B;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37740:hover #u37742-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 277px;
	margin: 0px;
}

#u37740.MuseMenuActive #u37742-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 277px;
	margin: 0px;
}

#u37714
{
	width: 302px;
	background: #FFFFFF url("../images/u37740-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	padding: 2px 121px 5px 2px;
}

#u37714:hover
{
	background: #FFFFFF url("../images/u37740-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#AAAAAA),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#AAAAAA ,#FFFFFF 46%);
	background: linear-gradient(to right,#AAAAAA ,#FFFFFF 46%);
	width: 302px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u37715-4
{
	width: 298px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #5E5B5B;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37714:hover #u37715-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 298px;
	margin: 0px;
}

#u37714.MuseMenuActive #u37715-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 298px;
	margin: 0px;
}

#u37721
{
	width: 219px;
	background: #FFFFFF url("../images/u37740-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	padding: 2px 204px 5px 2px;
}

#u37721:hover
{
	background: #FFFFFF url("../images/u37740-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#AAAAAA),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#AAAAAA ,#FFFFFF 46%);
	background: linear-gradient(to right,#AAAAAA ,#FFFFFF 46%);
	width: 219px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u37723-4
{
	width: 215px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #5E5B5B;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37721:hover #u37723-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 215px;
	margin: 0px;
}

#u37721.MuseMenuActive #u37723-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 215px;
	margin: 0px;
}

#u37747
{
	width: 252px;
	background: #FFFFFF url("../images/u37740-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	padding: 2px 171px 5px 2px;
}

#u37747:hover
{
	background: #FFFFFF url("../images/u37740-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#AAAAAA),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#AAAAAA ,#FFFFFF 46%);
	background: linear-gradient(to right,#AAAAAA ,#FFFFFF 46%);
	width: 252px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u37750-4
{
	width: 248px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #5E5B5B;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37747:hover #u37750-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 248px;
	margin: 0px;
}

#u37747.MuseMenuActive #u37750-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 248px;
	margin: 0px;
}

#u37726
{
	width: 421px;
	background: #FFFFFF url("../images/u37740-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	padding: 2px 2px 5px;
}

#u37726:hover
{
	background: #FFFFFF url("../images/u37740-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#AAAAAA),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#AAAAAA ,#FFFFFF 46%);
	background: linear-gradient(to right,#AAAAAA ,#FFFFFF 46%);
	width: 421px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u37729-4
{
	width: 417px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #5E5B5B;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37726:hover #u37729-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 417px;
	margin: 0px;
}

#u37726.MuseMenuActive #u37729-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 417px;
	margin: 0px;
}

#u37739,#u37711,#u37718,#u37746,#u37725,#u37732
{
	width: 425px;
	background-color: transparent;
	position: relative;
}

#u37733
{
	width: 208px;
	background: #FFFFFF url("../images/u37740-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	padding: 2px 215px 5px 2px;
}

#u37733:hover
{
	background: #FFFFFF url("../images/u37740-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#AAAAAA),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#AAAAAA ,#FFFFFF 46%);
	background: linear-gradient(to right,#AAAAAA ,#FFFFFF 46%);
	width: 208px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u37734-4
{
	width: 204px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #5E5B5B;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37733:hover #u37734-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 204px;
	margin: 0px;
}

#u37733.MuseMenuActive #u37734-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 204px;
	margin: 0px;
}

#u37690
{
	width: 132px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#u37691
{
	width: 99px;
	border-color: #000000;
	background-color: transparent;
	border-radius: 1px;
	padding-left: 16px;
	padding-right: 17px;
	padding-bottom: 18px;
	position: relative;
}

#u37691.MuseMenuActive
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u37694-4
{
	width: 99px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 20px;
	letter-spacing: 3px;
	color: #5E5B5B;
	line-height: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37691:hover #u37694-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 99px;
	margin: 0px;
}

#u37691.MuseMenuActive #u37694-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 99px;
	margin: 0px;
}

#u37691:hover #u37694-4 p
{
	color: #D8D2D2;
	visibility: inherit;
}

#u37753
{
	width: 158px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 244px;
}

#u37756
{
	width: 125px;
	border-color: #000000;
	background-color: transparent;
	border-radius: 1px;
	padding-left: 16px;
	padding-right: 17px;
	padding-bottom: 18px;
	position: relative;
}

#u37756.MuseMenuActive
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u37759-4
{
	width: 125px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 20px;
	letter-spacing: 3px;
	color: #5E5B5B;
	line-height: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37756:hover #u37759-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 125px;
	margin: 0px;
}

#u37756.MuseMenuActive #u37759-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 125px;
	margin: 0px;
}

#u37756:hover #u37759-4 p
{
	color: #D8D2D2;
	visibility: inherit;
}

#u37697
{
	width: 110px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 404px;
}

#u37700
{
	width: 77px;
	border-color: #000000;
	background-color: transparent;
	border-radius: 1px;
	padding-left: 16px;
	padding-right: 17px;
	padding-bottom: 18px;
	position: relative;
}

#u37700.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u37701-4
{
	width: 77px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 20px;
	letter-spacing: 3px;
	color: #5E5B5B;
	line-height: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37700:hover #u37701-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 77px;
	margin: 0px;
}

#u37700.MuseMenuActive #u37701-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 77px;
	margin: 0px;
}

#u37700:hover #u37701-4 p
{
	color: #D8D2D2;
	visibility: inherit;
}

#u37705.MuseMenuActive #u37706-4 p,#u37691.MuseMenuActive #u37694-4 p,#u37756.MuseMenuActive #u37759-4 p,#u37700.MuseMenuActive #u37701-4 p
{
	color: #5E5B5B;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u7993
{
	z-index: 2;
	width: 925px;
	min-height: 472px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 233px;
	left: 20px;
}

#contactus
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 9px;
	left: -504px;
}

#pu25460
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: -100px;
}

#u25460
{
	z-index: 71;
	min-height: 386.9181423048849px;
	padding-bottom: 0px;
}

#u25460_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 46px;
	padding-bottom: 20px;
}

#pu45753
{
	width: 0.01px;
	left: 174px;
	position: relative;
}

#u45753
{
	z-index: 83;
	width: 302px;
	position: relative;
	margin-right: -10000px;
}

#u26765-4
{
	z-index: 84;
	position: relative;
	margin-right: -10000px;
}

#u26766-4
{
	z-index: 88;
	position: relative;
	margin-right: -10000px;
	left: 99px;
}

#u26771-4
{
	z-index: 92;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
}

#u25776-7
{
	z-index: 76;
	width: 447px;
	min-height: 147px;
	position: relative;
	margin-right: -10000px;
	left: 365px;
}

#u58482
{
	z-index: 104;
	width: 320px;
	left: 603px;
	margin-top: 16px;
	position: relative;
}

#u58479
{
	z-index: 107;
	width: 192px;
	position: relative;
	margin-right: -10000px;
}

#u45735
{
	z-index: 108;
	width: 64px;
	position: relative;
	margin-right: -10000px;
	left: 128px;
}

#pamphletu28862
{
	z-index: 110;
	width: 0.01px;
	height: 64px;
	position: relative;
	margin-right: -10000px;
}

#u28867
{
	position: absolute;
	width: 419px;
	top: -678px;
	left: -327px;
}

#u28867popup
{
	z-index: 111;
}

#u28872
{
	z-index: 112;
	width: 419px;
	height: 623px;
	margin-right: -10000px;
	position: relative;
}

#widgetu35052
{
	z-index: 113;
	width: 0.01px;
	height: 555px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 38px;
}

#widgetu35064
{
	z-index: 114;
	width: 342px;
	height: 53px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu35064.fld-err-st
{
	width: 342px;
	height: 53px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u35066-4
{
	z-index: 115;
	width: 200px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u35065-4
{
	z-index: 119;
	width: 328px;
	min-height: 20px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu35064:hover #u35065-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35064.focus-st #u35065-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35057
{
	z-index: 123;
	width: 342px;
	height: 53px;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu35057.fld-err-st
{
	width: 342px;
	height: 53px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u35059-4
{
	z-index: 124;
	width: 200px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u35058-4
{
	z-index: 128;
	width: 328px;
	min-height: 20px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu35064.fld-err-st #u35065-4,#widgetu35057:hover #u35058-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35057.focus-st #u35058-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35057.fld-err-st #u35058-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35064_input,#widgetu35064_prompt,#widgetu35057_input,#widgetu35057_prompt
{
	width: 328px;
	min-height: 20px;
	padding: 6px;
}

#u35068-4
{
	z-index: 132;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 530px;
	left: 140px;
}

#u35063-4
{
	z-index: 136;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 530px;
	left: 140px;
}

#u35062-4
{
	z-index: 140;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 530px;
	left: 140px;
}

#widgetu35052.frm-sub-st #u35068-4,#widgetu35052.frm-subm-err-st #u35063-4,#widgetu35052.frm-subm-ok-st #u35062-4
{
	min-height: 25px;
}

#u35061-17
{
	z-index: 144;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 525px;
}

#widgetu35053
{
	z-index: 161;
	width: 342px;
	height: 391px;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu35053.fld-err-st
{
	width: 342px;
	height: 391px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u35056-4
{
	z-index: 162;
	width: 200px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu35064.fld-err-st #u35066-4,#widgetu35057.fld-err-st #u35059-4,#widgetu35053.fld-err-st #u35056-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u35055-4
{
	z-index: 166;
	width: 328px;
	min-height: 358px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu35053:hover #u35055-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 358px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35053.focus-st #u35055-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 358px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35053.fld-err-st #u35055-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 358px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35053_input,#widgetu35053_prompt
{
	width: 328px;
	min-height: 358px;
	padding: 6px;
}

#widgetu35064:hover #widgetu35064_input,#widgetu35064.focus-st #widgetu35064_input,#widgetu35064.fld-err-st #widgetu35064_input,#widgetu35064:hover #widgetu35064_prompt,#widgetu35064.focus-st #widgetu35064_prompt,#widgetu35064.fld-err-st #widgetu35064_prompt,#widgetu35057:hover #widgetu35057_input,#widgetu35057.focus-st #widgetu35057_input,#widgetu35057.fld-err-st #widgetu35057_input,#widgetu35057:hover #widgetu35057_prompt,#widgetu35057.focus-st #widgetu35057_prompt,#widgetu35057.fld-err-st #widgetu35057_prompt,#widgetu35053:hover #widgetu35053_input,#widgetu35053.focus-st #widgetu35053_input,#widgetu35053.fld-err-st #widgetu35053_input,#widgetu35053:hover #widgetu35053_prompt,#widgetu35053.focus-st #widgetu35053_prompt,#widgetu35053.fld-err-st #widgetu35053_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u28863
{
	z-index: 170;
	width: 64px;
	position: relative;
	margin-right: -10000px;
}

#u28865
{
	position: absolute;
	width: 64px;
	height: 64px;
}

#u28865.PamphletThumbSelected
{
	width: 64px;
	height: 64px;
	min-height: 0px;
	margin: 0px;
}

#u28878
{
	position: absolute;
	width: 30px;
	padding-bottom: 5px;
	top: -678px;
	left: 62px;
}

#u28878:hover
{
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u28878:active
{
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u28879-4
{
	z-index: 173;
	width: 20px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u45725
{
	z-index: 105;
	width: 64px;
	position: relative;
	margin-right: -10000px;
	left: 256px;
}

#u25482-4
{
	z-index: 72;
	width: 920px;
	min-height: 58px;
	left: 120px;
	margin-top: 35px;
	position: relative;
}

#u25460-bw
{
	z-index: 71;
	min-height: 386.9181423048849px;
}

#pbuttonu58473
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 202px;
	margin-left: 195px;
}

#buttonu58473
{
	z-index: 98;
	width: 260px;
	height: 79px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu58473:hover #buttonu58473
{
	width: 259px;
	height: 78px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u58474-4
{
	z-index: 99;
	width: 259px;
	min-height: 48px;
}

#pbuttonu58473:hover #u58474-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 259px;
	margin-right: -10000px;
	margin-top: 15px;
	left: -1px;
	min-height: 48px;
}

#pbuttonu58473.ButtonSelected #u58474-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	width: 259px;
}

#pbuttonu58473 #u58474-4
{
	position: relative;
	width: 259px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 1px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

.verticalspacer
{
	margin-bottom: -4px;
	min-height: 204px;
}

