.version.index /* version checker */
{
	color: #00001B;
	background-color: #5FF0B9;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 867.5999999999985px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -18px;
	width: 0.01px;/* should not cover content below */
}

#u41698
{
	z-index: 321;
	height: 122px;
	position: fixed;
	top: -27px;
}

#u41698-bw
{
	z-index: 321;
}

#home
{
	left: -500px;
	position: relative;
}

#u55954
{
	z-index: 2;
	min-height: 451px;
	background-color: #FFFFFF;
	padding-bottom: 159px;
}

#u57964
{
	z-index: 4;
	width: 868px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
	left: 146px;
}

#pu4266
{
	width: 0.01px;
}

#u4266
{
	z-index: 5;
	width: 868px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u4269-4
{
	z-index: 6;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u4270-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 147px;
}

#u4268-4
{
	z-index: 14;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 93px;
}

#u4271
{
	z-index: 18;
	width: 437px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 431px;
}

.js #u4269-4.ose_pre_init,.js #u4270-4.ose_pre_init,.js #u4268-4.ose_pre_init,.js #u4271.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#slideshowu57588
{
	z-index: 20;
	width: 0.01px;
	height: 107px;
	position: relative;
	margin-right: -10000px;
	left: 455px;
}

#u57607
{
	position: absolute;
	width: 362px;
	height: 107px;
	background-color: transparent;
}

#u57607popup
{
	z-index: 21;
}

#u57612
{
	z-index: 22;
	width: 362px;
	height: 107px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u57761
{
	z-index: 24;
	width: 362px;
	height: 107px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u57781
{
	z-index: 26;
	width: 362px;
	height: 107px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u57801
{
	z-index: 28;
	width: 362px;
	height: 107px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u57821
{
	z-index: 30;
	width: 362px;
	height: 107px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u57841
{
	z-index: 32;
	width: 362px;
	height: 107px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u57861
{
	z-index: 34;
	width: 362px;
	height: 107px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u57881
{
	z-index: 36;
	width: 362px;
	height: 107px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u57901
{
	z-index: 38;
	width: 362px;
	height: 107px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u57921
{
	z-index: 40;
	width: 362px;
	height: 107px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u57941
{
	z-index: 42;
	width: 362px;
	height: 107px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u57612_img,#u57761_img,#u57781_img,#u57801_img,#u57821_img,#u57841_img,#u57861_img,#u57881_img,#u57901_img,#u57921_img,#u57941_img
{
	margin-top: -7px;
	margin-bottom: -7px;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pbuttonu55966
{
	width: 0.01px;
	margin-left: 254px;
	margin-top: 48px;
}

#buttonu55966
{
	z-index: 45;
	width: 359px;
	height: 79px;
	border-color: #5E5B5B;
	background-color: #61AB59;
	border-radius: 65px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu55966:hover #buttonu55966
{
	width: 358px;
	height: 78px;
	border-style: solid;
	border-width: 1px;
	border-color: #61AB59;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u55967-4
{
	z-index: 46;
	width: 358px;
	min-height: 48px;
	background-color: transparent;
	font-size: 40px;
	letter-spacing: 10px;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#pbuttonu55966:hover #u55967-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 358px;
	margin-right: -10000px;
	margin-top: 15px;
	left: -1px;
	min-height: 48px;
}

#pbuttonu55966.ButtonSelected #u55967-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	width: 358px;
}

#pbuttonu55966:hover #u55967-4 p
{
	color: #39A751;
	visibility: inherit;
}

#pbuttonu55966 #u55967-4
{
	position: relative;
	width: 358px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 1px;
}

.js body.initialized
{
	visibility: visible;
}

#u55954-bw
{
	z-index: 2;
	min-height: 451px;
	margin-top: 8px;
}

#u63598
{
	z-index: 322;
	width: 920px;
	padding-bottom: 58px;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -460px;
}

#u63628
{
	z-index: 406;
	width: 187px;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -460px;
}

#menuu63599
{
	z-index: 323;
	width: 622px;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -162px;
}

#u63600
{
	width: 154px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
}

#u63603
{
	width: 154px;
	padding-bottom: 18px;
	position: relative;
}

#u63604-4
{
	width: 154px;
	min-height: 32px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u63603:hover #u63604-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u74152
{
	width: 154px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 156px;
}

#u74155
{
	width: 154px;
	padding-bottom: 18px;
	position: relative;
}

#u74156-4
{
	width: 154px;
	min-height: 32px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u63603.MuseMenuActive #u63604-4,#u74155:hover #u74156-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u74153
{
	width: 454px;
	top: 50px;
}

#u74175
{
	width: 454px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74175:hover
{
	width: 454px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74179-4
{
	width: 450px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74175:hover #u74179-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#u74258
{
	width: 454px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74175.MuseMenuActive,#u74258:hover
{
	width: 454px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74261-4
{
	width: 450px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74175.MuseMenuActive #u74179-4,#u74258:hover #u74261-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#u74342
{
	width: 454px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74258.MuseMenuActive,#u74342:hover
{
	width: 454px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74344-4
{
	width: 450px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74258.MuseMenuActive #u74261-4,#u74342:hover #u74344-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#u74321
{
	width: 454px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74342.MuseMenuActive,#u74321:hover
{
	width: 454px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74323-4
{
	width: 450px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74342.MuseMenuActive #u74344-4,#u74321:hover #u74323-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#u74300
{
	width: 454px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74321.MuseMenuActive,#u74300:hover
{
	width: 454px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74302-4
{
	width: 450px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74321.MuseMenuActive #u74323-4,#u74300:hover #u74302-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#u74154,#u74173,#u74257,#u74341,#u74320,#u74299,#u74278
{
	width: 454px;
	position: relative;
}

#u74279
{
	width: 454px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74300.MuseMenuActive,#u74279:hover
{
	width: 454px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74279.MuseMenuActive
{
	width: 454px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74281-4
{
	width: 450px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74300.MuseMenuActive #u74302-4,#u74279:hover #u74281-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#u74279.MuseMenuActive #u74281-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#u74131
{
	width: 154px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u74134
{
	width: 154px;
	padding-bottom: 18px;
	position: relative;
}

#u74135-4
{
	width: 154px;
	min-height: 32px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u74155.MuseMenuActive #u74156-4,#u74134:hover #u74135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u74132
{
	width: 282px;
	top: 50px;
}

#u74196
{
	width: 282px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74196:hover
{
	width: 282px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74200-4
{
	width: 278px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74196:hover #u74200-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 278px;
	margin: 0px -10000px 0px 0px;
}

#u74216
{
	width: 282px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74196.MuseMenuActive,#u74216:hover
{
	width: 282px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74218-4
{
	width: 278px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74196.MuseMenuActive #u74200-4,#u74216:hover #u74218-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 278px;
	margin: 0px -10000px 0px 0px;
}

#u74133,#u74194,#u74215,#u74236
{
	width: 282px;
	position: relative;
}

#u74239
{
	width: 282px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74216.MuseMenuActive,#u74239:hover
{
	width: 282px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74239.MuseMenuActive
{
	width: 282px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74242-4
{
	width: 278px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74216.MuseMenuActive #u74218-4,#u74239:hover #u74242-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 278px;
	margin: 0px -10000px 0px 0px;
}

#u74239.MuseMenuActive #u74242-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 278px;
	margin: 0px -10000px 0px 0px;
}

#u74179-3,#u74261-3,#u74344-3,#u74323-3,#u74302-3,#u74281-3,#u74200-3,#u74218-3,#u74242-3
{
	margin-left: 2px;
	margin-right: 2px;
}

#u74110
{
	width: 154px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 468px;
}

#u74113
{
	width: 154px;
	padding-bottom: 18px;
	position: relative;
}

#u63603.MuseMenuActive,#u74155.MuseMenuActive,#u74134.MuseMenuActive,#u74113.MuseMenuActive
{
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u74114-4
{
	width: 154px;
	min-height: 32px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u74134.MuseMenuActive #u74135-4,#u74113:hover #u74114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u74113.MuseMenuActive #u74114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u8211
{
	z-index: 208;
	height: 132px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0) ,#FFFFFF 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0) ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#FFFFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#FFFFFFFF', GradientType=0)";
}

#u8211-bw
{
	z-index: 208;
	height: 132px;
}

#u8782
{
	z-index: 195;
	min-height: 112px;
	background-color: #3995A7;
	padding-bottom: 138px;
}

#u55954_align_to_page,#u8782_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
}

#u8715-4
{
	z-index: 196;
	width: 912px;
	min-height: 57px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 37px;
	font-size: 31px;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 128px;
}

#u8782-bw
{
	z-index: 195;
	min-height: 112px;
}

#pbuttonu55977
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 124px;
	margin-left: 428px;
}

#buttonu55977
{
	z-index: 210;
	width: 301px;
	height: 70px;
	border-style: solid;
	border-width: 1px;
	border-color: #3995A7;
	background-color: #FFFFFF;
	border-radius: 65px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 1px;
}

#pbuttonu55977:hover #buttonu55977
{
	width: 300px;
	height: 69px;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u55978-4
{
	z-index: 211;
	width: 300px;
	min-height: 35px;
	background-color: transparent;
	font-size: 30px;
	letter-spacing: 5px;
	color: #3995A7;
	line-height: 36px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#pbuttonu55977:hover #u55978-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 300px;
	margin-right: -10000px;
	margin-top: 17px;
	min-height: 35px;
}

#pbuttonu55977.ButtonSelected #u55978-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 300px;
}

#pbuttonu55966.ButtonSelected #u55967-4 p,#pbuttonu55977:hover #u55978-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pbuttonu55977.ButtonSelected #u55978-4 p
{
	color: #3995A7;
	visibility: inherit;
}

#pbuttonu55977 #u55978-4
{
	position: relative;
	width: 300px;
	margin-right: -10000px;
	margin-top: 17px;
}

#pissues
{
	width: 0.01px;
	margin-left: -758px;
	margin-top: -2px;
}

#issues
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 241px;
}

#u21718
{
	z-index: 194;
	min-height: 258.9499999999998px;
	background-color: #D8D2D2;
	padding-bottom: 0px;
}

#u21718_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 63px;
	padding-bottom: 19px;
}

#u21686-4
{
	z-index: 200;
	width: 920px;
	min-height: 49px;
	background-color: transparent;
	color: #5E5B5B;
	line-height: 37px;
	font-size: 31px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	left: 118px;
	position: relative;
}

#pu40954
{
	width: 0.01px;
	left: 431px;
	position: relative;
}

#u40954
{
	z-index: 204;
	width: 128px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u40974
{
	z-index: 206;
	width: 128px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 170px;
}

#u21718-bw
{
	z-index: 194;
	min-height: 258.9499999999998px;
}

#pu41017
{
	width: 0.01px;
	margin-left: 204px;
	margin-top: 71px;
}

#u41017
{
	z-index: 96;
	width: 547px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#pu41018-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u41018-4
{
	z-index: 97;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u41019-4
{
	z-index: 101;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u41022-4
{
	z-index: 105;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 28px;
}

#u41020
{
	z-index: 109;
	width: 255px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 292px;
}

#u41039-4
{
	z-index: 111;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 325px;
}

#u42744-4
{
	z-index: 51;
	min-height: 35px;
	background-color: transparent;
	color: #5E5B5B;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u42744-4-bw
{
	z-index: 51;
	min-height: 35px;
	margin-top: 33px;
}

#pbuttonu42921
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 45px;
}

#buttonu42921
{
	z-index: 55;
	width: 303px;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/islam_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu42921:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #545454 url("../images/islam.jpg") no-repeat center center;
	background-size: cover;
}

#u43871-6
{
	z-index: 56;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu42921:hover #u43871-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu42921.ButtonSelected #u43871-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

.js body,#buttonu42921:hover #u43871-6 p
{
	visibility: hidden;
}

#buttonu42942
{
	z-index: 88;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 313px;
	background: transparent url("../images/immigration_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu42942:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../images/immigration.jpg") no-repeat center center;
	background-size: cover;
}

#u43874-6
{
	z-index: 89;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu42942:hover #u43874-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu42942.ButtonSelected #u43874-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu42942:hover #u43874-6 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#buttonu42930
{
	z-index: 62;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 627px;
	background: transparent url("../images/womem_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu42930:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../images/lgbtq.jpg") no-repeat center center;
	background-size: cover;
}

#u43877-6
{
	z-index: 63;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu42930:hover #u43877-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu42930.ButtonSelected #u43877-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu42930:hover #u43877-6 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#pbuttonu42936
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 9px;
}

#buttonu42936
{
	z-index: 76;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/environement_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu42936:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/environement-cropped.jpg") no-repeat center center;
	background-size: cover;
}

#u43880-4
{
	z-index: 77;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu42936:hover #u43880-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu42936.ButtonSelected #u43880-4
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu42936:hover #u43880-4 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#buttonu42933
{
	z-index: 69;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 314px;
	background: transparent url("../images/lgbtq_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu42933:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/women%20right.jpg") no-repeat center center;
	background-size: cover;
}

#u43883-6
{
	z-index: 70;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu42933:hover #u43883-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu42933.ButtonSelected #u43883-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu42933:hover #u43883-6 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#buttonu42939
{
	z-index: 81;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 627px;
	background: transparent url("../images/voters_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu42939:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #545454 url("../images/voters.jpg") no-repeat center center;
	background-size: cover;
}

#u43886-6
{
	z-index: 82;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu42939:hover #u43886-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu42939.ButtonSelected #u43886-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu42939:hover #u43886-6 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#about
{
	left: -758px;
	margin-top: 74px;
	position: relative;
}

#pu8782,#pu41666
{
	width: 0.01px;
	margin-left: -100px;
}

#u41666
{
	z-index: 115;
	min-height: 1048.7561727500001px;
	background-color: #D8D2D2;
	padding-bottom: 0px;
}

#u41666_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 67px;
	padding-bottom: 41px;
}

#pu41644
{
	width: 0.01px;
	left: 293px;
	position: relative;
}

#u41644
{
	z-index: 116;
	width: 292px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
}

#u41648-4
{
	z-index: 117;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u41649-4
{
	z-index: 121;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u41647-4
{
	z-index: 125;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 28px;
}

#u41669
{
	z-index: 129;
	width: 255px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 292px;
}

#u41650-4
{
	z-index: 131;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 299px;
}

.js #u41039-4.ose_pre_init,.js #u41650-4.ose_pre_init
{
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
}

#u49473-21
{
	z-index: 139;
	width: 920px;
	min-height: 622px;
	background-color: transparent;
	color: #5E5B5B;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	left: 120px;
	margin-top: 78px;
	position: relative;
}

#u49473-2,#u49473-7
{
	font-size: 45px;
	line-height: 56px;
}

#u49473-4,#u49473-5,#u49473-9,#u49473-10,#u49473-12,#u49473-13,#u49473-15,#u49473-16,#u49473-19
{
	font-size: 24px;
	line-height: 30px;
}

#menuu71094
{
	z-index: 175;
	width: 920px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: 120px;
	margin-top: 38px;
	position: relative;
}

#u71102
{
	width: 305px;
	min-height: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u71103
{
	width: 305px;
	border-color: #E6E4E4;
	background-color: #F1F0F0;
	background-color: rgba(230,228,228,0.55);
	border-radius: 40px;
	padding-bottom: 16px;
	position: relative;
	-pie-background: rgba(230,228,228,0.55);
}

#u71103:hover
{
	background-color: #C6C6C6;
	background-color: rgba(152,152,152,0.55);
	width: 305px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(152,152,152,0.55);
}

#u71104-4
{
	width: 305px;
	min-height: 30px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 3px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u71103:hover #u71104-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u71188
{
	width: 305px;
	min-height: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 307px;
}

#u71189
{
	width: 305px;
	border-color: #E6E4E4;
	background-color: #F1F0F0;
	background-color: rgba(230,228,228,0.55);
	border-radius: 40px;
	padding-bottom: 16px;
	position: relative;
	-pie-background: rgba(230,228,228,0.55);
}

#u71189:hover
{
	background-color: #C6C6C6;
	background-color: rgba(152,152,152,0.55);
	width: 305px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(152,152,152,0.55);
}

#u71191-4
{
	width: 305px;
	min-height: 30px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 3px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u71103.MuseMenuActive #u71104-4,#u71189:hover #u71191-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u71189.MuseMenuActive #u71191-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u71209
{
	width: 306px;
	min-height: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 614px;
}

#u71212
{
	width: 306px;
	border-color: #E6E4E4;
	background-color: #F1F0F0;
	background-color: rgba(230,228,228,0.55);
	border-radius: 40px;
	padding-bottom: 16px;
	position: relative;
	-pie-background: rgba(230,228,228,0.55);
}

#u71212:hover
{
	background-color: #C6C6C6;
	background-color: rgba(152,152,152,0.55);
	width: 306px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(152,152,152,0.55);
}

#u71214-4
{
	width: 306px;
	min-height: 30px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #5E5B5B;
	letter-spacing: 3px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u71212:hover #u71214-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 306px;
	margin: 0px -10000px 0px 0px;
}

#u71212.MuseMenuActive #u71214-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 306px;
	margin: 0px -10000px 0px 0px;
}

#u41666-bw
{
	z-index: 115;
	min-height: 1048.7561727500001px;
}

#u47609-4
{
	z-index: 135;
	min-height: 35px;
	background-color: transparent;
	color: #5E5B5B;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u47609-4-bw
{
	z-index: 135;
	min-height: 35px;
	margin-top: 218px;
}

#pamphletu58414
{
	z-index: 161;
	width: 0.01px;
	height: 47px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 208px;
	left: 615px;
}

#u58415
{
	position: absolute;
	width: 427px;
	background-color: transparent;
}

#u58415popup
{
	z-index: 162;
}

#u58416
{
	z-index: 163;
	width: 427px;
	height: 48px;
	border-width: 0px;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#pbuttonu58417
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: 108px;
}

#buttonu58417
{
	z-index: 165;
	width: 319px;
	height: 48px;
	border-color: #5E5B5B;
	background-color: #61AB59;
	border-radius: 65px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu58417:active #buttonu58417
{
	width: 318px;
	height: 47px;
	border-style: solid;
	border-width: 1px;
	border-color: #61AB59;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u58418-4
{
	z-index: 166;
	width: 301px;
	min-height: 27px;
	background-color: transparent;
	font-size: 20px;
	letter-spacing: 10px;
	color: #FFFFFF;
	line-height: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#pbuttonu58417:active #u58418-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 301px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
	min-height: 27px;
}

#pbuttonu58417.ButtonSelected #u58418-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 301px;
}

#pbuttonu58417:active #u58418-4 p
{
	color: #61AB59;
	visibility: inherit;
}

#buttonu42921.ButtonSelected #u43871-6 p,#buttonu42942.ButtonSelected #u43874-6 p,#buttonu42930.ButtonSelected #u43877-6 p,#buttonu42936.ButtonSelected #u43880-4 p,#buttonu42933.ButtonSelected #u43883-6 p,#buttonu42939.ButtonSelected #u43886-6 p,#pbuttonu58417.ButtonSelected #u58418-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pbuttonu58417 #u58418-4
{
	position: relative;
	width: 301px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 18px;
}

#u58423
{
	z-index: 171;
	width: 48px;
	position: relative;
	margin-right: -10000px;
	left: 379px;
}

#u58424
{
	position: absolute;
	width: 55px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 8px;
	left: -7px;
}

#u58424:hover
{
	border-color: #DEDEDE;
	width: 55px;
	min-height: 0px;
	margin: 0px;
}

#u58424.PamphletThumbSelected
{
	border-color: #999999;
	width: 55px;
	min-height: 0px;
	margin: 0px;
}

#u58425
{
	z-index: 173;
	width: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 7px;
}

#u58424:hover #u58425
{
	width: 48px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u58424.PamphletThumbSelected #u58425
{
	width: 48px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pu25460
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -2px;
}

#u25460
{
	z-index: 216;
	min-height: 386.91814230488535px;
	padding-bottom: 0px;
}

#u25460_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 46px;
	padding-bottom: 20px;
}

#pu45753
{
	width: 0.01px;
	left: 174px;
	position: relative;
}

#u45753
{
	z-index: 228;
	width: 302px;
	position: relative;
	margin-right: -10000px;
}

#u26765-4
{
	z-index: 229;
	position: relative;
	width: 99px;
	margin-right: -10000px;
}

#u26766-4
{
	z-index: 233;
	position: relative;
	width: 203px;
	margin-right: -10000px;
	left: 99px;
}

#u26771-4
{
	z-index: 237;
	position: relative;
	width: 302px;
	margin-right: -10000px;
	margin-top: 76px;
}

#u25776-7
{
	z-index: 221;
	width: 447px;
	min-height: 147px;
	position: relative;
	margin-right: -10000px;
	left: 365px;
}

#u58482
{
	z-index: 248;
	width: 320px;
	left: 603px;
	margin-top: 16px;
	position: relative;
}

#u58479
{
	z-index: 251;
	width: 192px;
	position: relative;
	margin-right: -10000px;
}

#u45735
{
	z-index: 252;
	width: 64px;
	position: relative;
	margin-right: -10000px;
	left: 128px;
}

#pamphletu28862
{
	z-index: 254;
	width: 0.01px;
	height: 64px;
	position: relative;
	margin-right: -10000px;
}

#u28867
{
	position: absolute;
	width: 419px;
	top: -678px;
	left: -327px;
}

#u28867popup
{
	z-index: 255;
}

#u28872
{
	z-index: 256;
	width: 419px;
	height: 623px;
	margin-right: -10000px;
	position: relative;
}

#widgetu35052
{
	z-index: 257;
	width: 0.01px;
	height: 555px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 38px;
}

#widgetu35064
{
	z-index: 258;
	width: 342px;
	height: 53px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu35064.fld-err-st
{
	width: 342px;
	height: 53px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u35066-4
{
	z-index: 259;
	width: 200px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u35065-4
{
	z-index: 263;
	width: 328px;
	min-height: 20px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu35064:hover #u35065-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35064.focus-st #u35065-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35057
{
	z-index: 267;
	width: 342px;
	height: 53px;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu35057.fld-err-st
{
	width: 342px;
	height: 53px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u35059-4
{
	z-index: 268;
	width: 200px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u35058-4
{
	z-index: 272;
	width: 328px;
	min-height: 20px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu35064.fld-err-st #u35065-4,#widgetu35057:hover #u35058-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35057.focus-st #u35058-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35057.fld-err-st #u35058-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35064_input,#widgetu35064_prompt,#widgetu35057_input,#widgetu35057_prompt
{
	width: 328px;
	min-height: 20px;
	padding: 6px;
}

#u35068-4
{
	z-index: 276;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 530px;
	left: 140px;
}

#u35063-4
{
	z-index: 280;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 530px;
	left: 140px;
}

#u35062-4
{
	z-index: 284;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 530px;
	left: 140px;
}

#widgetu35052.frm-sub-st #u35068-4,#widgetu35052.frm-subm-err-st #u35063-4,#widgetu35052.frm-subm-ok-st #u35062-4
{
	min-height: 25px;
}

#u35061-17
{
	z-index: 288;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 525px;
}

#widgetu35053
{
	z-index: 305;
	width: 342px;
	height: 391px;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu35053.fld-err-st
{
	width: 342px;
	height: 391px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u35056-4
{
	z-index: 306;
	width: 200px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu35064.fld-err-st #u35066-4,#widgetu35057.fld-err-st #u35059-4,#widgetu35053.fld-err-st #u35056-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u35055-4
{
	z-index: 310;
	width: 328px;
	min-height: 358px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu35053:hover #u35055-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 358px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35053.focus-st #u35055-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 358px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35053.fld-err-st #u35055-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 358px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35053_input,#widgetu35053_prompt
{
	width: 328px;
	min-height: 358px;
	padding: 6px;
}

#widgetu35064:hover #widgetu35064_input,#widgetu35064.focus-st #widgetu35064_input,#widgetu35064.fld-err-st #widgetu35064_input,#widgetu35064:hover #widgetu35064_prompt,#widgetu35064.focus-st #widgetu35064_prompt,#widgetu35064.fld-err-st #widgetu35064_prompt,#widgetu35057:hover #widgetu35057_input,#widgetu35057.focus-st #widgetu35057_input,#widgetu35057.fld-err-st #widgetu35057_input,#widgetu35057:hover #widgetu35057_prompt,#widgetu35057.focus-st #widgetu35057_prompt,#widgetu35057.fld-err-st #widgetu35057_prompt,#widgetu35053:hover #widgetu35053_input,#widgetu35053.focus-st #widgetu35053_input,#widgetu35053.fld-err-st #widgetu35053_input,#widgetu35053:hover #widgetu35053_prompt,#widgetu35053.focus-st #widgetu35053_prompt,#widgetu35053.fld-err-st #widgetu35053_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u28863
{
	z-index: 314;
	width: 64px;
	position: relative;
	margin-right: -10000px;
}

#u28865
{
	position: absolute;
	width: 64px;
	height: 64px;
}

#u28865.PamphletThumbSelected
{
	width: 64px;
	height: 64px;
	min-height: 0px;
	margin: 0px;
}

#u28878
{
	position: absolute;
	width: 30px;
	padding-bottom: 5px;
	top: -678px;
	left: 62px;
}

#u28878:hover
{
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u28878:active
{
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u28879-4
{
	z-index: 317;
	width: 20px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u45725
{
	z-index: 249;
	width: 64px;
	position: relative;
	margin-right: -10000px;
	left: 256px;
}

#u25482-4
{
	z-index: 217;
	width: 920px;
	min-height: 58px;
	left: 120px;
	margin-top: 35px;
	position: relative;
}

#u25460-bw
{
	z-index: 216;
	min-height: 386.91814230488535px;
}

#pbuttonu58473
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 202px;
	margin-left: 195px;
}

#buttonu58473
{
	z-index: 242;
	width: 260px;
	height: 79px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu58473:hover #buttonu58473
{
	width: 259px;
	height: 78px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u58474-4
{
	z-index: 243;
	width: 259px;
	min-height: 48px;
}

#pbuttonu58473:hover #u58474-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 259px;
	margin-right: -10000px;
	margin-top: 15px;
	left: -1px;
	min-height: 48px;
}

#pbuttonu58473.ButtonSelected #u58474-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	width: 259px;
}

#pbuttonu58473 #u58474-4
{
	position: relative;
	width: 259px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 1px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

