#u25460
{
	background-color: #5E5B5B;
}

#u26765-4,#u26766-4,#u26771-4
{
	display: block;
	vertical-align: top;
}

#u25776-7
{
	background-color: transparent;
	line-height: 29px;
	font-size: 22px;
	color: #FFFFFF;
	letter-spacing: 2px;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u25776-2
{
	text-align: center;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u25776
{
	font-size: 23px;
	letter-spacing: 3px;
	line-height: 30px;
}

#u25776-3
{
	text-align: justify;
}

#u25776-5
{
	text-align: justify;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u25776-4
{
	font-size: 18px;
	line-height: 23px;
}

#u28872
{
	border-width: 0px;
	border-color: transparent;
	background-color: #DEDEDE;
	border-radius: 34px;
}

#u45753,#u58482,#u58479,#u28867,#widgetu35064
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u35066-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 20px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u35065-4
{
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	line-height: 20px;
	color: #C4C4C4;
	font-size: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u41698,#widgetu35064.non-empty-st #u35065-4
{
	background-color: #FFFFFF;
}

#widgetu35064:hover #u35065-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu35064.focus-st #u35065-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu35064.non-empty-st #u35065-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu35064:hover #u35065-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu35064.focus-st #u35065-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu35057
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u35059-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 20px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u35058-4
{
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	line-height: 20px;
	color: #C4C4C4;
	font-size: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#widgetu35057.non-empty-st #u35058-4
{
	background-color: #FFFFFF;
}

#widgetu35057:hover #u35058-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu35057.focus-st #u35058-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu35057.non-empty-st #u35058-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu35057:hover #u35058-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu35057.focus-st #u35058-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u35068-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#widgetu35052.frm-sub-st #u35068-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u35063-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#widgetu35052.frm-subm-err-st #u35063-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u35062-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#widgetu35052.frm-sub-st #u35068-4,#widgetu35052.frm-subm-err-st #u35063-4,#widgetu35052.frm-subm-ok-st #u35062-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#widgetu35052.frm-subm-ok-st #u35062-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u35061-17
{
	background: transparent url("../images/u35061-17.png") no-repeat 0px 0px;
}

#u35061-17:hover
{
	background: transparent url("../images/u35061-17-r.png") no-repeat 0px 0px;
}

#u35061-17:active
{
	background: transparent url("../images/u35061-17-m.png") no-repeat 0px 0px;
}

#widgetu35052.frm-sub-st #u35061-17
{
	background: transparent url("../images/u35061-17-fs.png") no-repeat 0px 0px;
}

#widgetu35053
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#widgetu35064.fld-err-st,#widgetu35057.fld-err-st,#widgetu35053.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
}

#u35056-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 20px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#widgetu35064.fld-err-st #u35066-4,#widgetu35053.fld-err-st #u35056-4
{
	border-width: 0px;
	border-color: transparent;
}

#widgetu35064.fld-err-st #u35066-4 p,#widgetu35064.fld-err-st #u35066-4 span,#widgetu35057.fld-err-st #u35059-4 p,#widgetu35057.fld-err-st #u35059-4 span,#widgetu35053.fld-err-st #u35056-4 p,#widgetu35053.fld-err-st #u35056-4 span
{
	color: #D7244C;
}

#u35055-4
{
	border-style: solid;
	border-width: 1px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	line-height: 20px;
	color: #C4C4C4;
	font-size: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#widgetu35053.non-empty-st #u35055-4
{
	background-color: #FFFFFF;
}

#widgetu35053:hover #u35055-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu35053.focus-st #u35055-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
}

#widgetu35064.fld-err-st #u35065-4,#widgetu35057.fld-err-st #u35058-4,#widgetu35053.fld-err-st #u35055-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
}

#widgetu35053.non-empty-st #u35055-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu35053:hover #u35055-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu35053.focus-st #u35055-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu35064.fld-err-st #u35065-4 *,#widgetu35057.fld-err-st #u35058-4 *,#widgetu35053.fld-err-st #u35055-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu35064_input,#widgetu35064_prompt,#widgetu35057_input,#widgetu35057_prompt,#widgetu35053_input,#widgetu35053_prompt
{
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-size: 20px;
	font-style: italic;
}

#widgetu35064.focus-st #widgetu35064_prompt,#widgetu35064.non-empty-st #widgetu35064_prompt,#widgetu35057.focus-st #widgetu35057_prompt,#widgetu35057.non-empty-st #widgetu35057_prompt,#widgetu35053.focus-st #widgetu35053_prompt,#widgetu35053.non-empty-st #widgetu35053_prompt
{
	visibility: hidden;
}

#u28865
{
	border-color: #DEDEDE;
	background: transparent url("../images/1485903202_email.png") no-repeat center center;
}

#u28865.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #999999;
	background-color: transparent;
}

#u28878
{
	border-width: 0px;
	border-color: transparent;
	background-color: #C4C4C4;
	border-radius: 0px 10px 0px 10px ;
}

#u28878:hover
{
	background-color: #999999;
}

#u28878:active
{
	background-color: #6B6B6B;
}

#u28879-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u45735,#u45725
{
	background-color: transparent;
}

#u25482-4
{
	background-color: transparent;
	text-align: justify;
	font-size: 14px;
	color: #ECECEC;
}

#buttonu58473
{
	border-color: #5E5B5B;
	background-color: #61AB59;
	border-radius: 65px;
}

#pbuttonu58473:hover #buttonu58473
{
	border-style: solid;
	border-width: 1px;
	border-color: #61AB59;
	background-color: #FFFFFF;
}

#u58474-4
{
	background-color: transparent;
	line-height: 48px;
	text-align: center;
	font-size: 40px;
	color: #FFFFFF;
	letter-spacing: 10px;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#pbuttonu58473:hover #u58474-4 p
{
	color: #39A751;
	visibility: inherit;
}

#pbuttonu58473.ButtonSelected #u58474-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}


