.version.our_volunteers /* version checker */
{
	color: #00000F;
	background-color: #078216;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 3605px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -27px;
	margin-bottom: -6px;
	width: 0.01px;/* should not cover content below */
}

#pu41698
{
	width: 0.01px;
	padding-bottom: 122px;
	margin-left: -100px;
}

#u41698
{
	z-index: 147;
	height: 122px;
	position: fixed;
	top: -27px;
}

#u41698-bw
{
	z-index: 147;
}

#u63598
{
	z-index: 148;
	width: 920px;
	padding-bottom: 58px;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -460px;
}

#u63628
{
	z-index: 232;
	width: 187px;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -460px;
}

#menuu63599
{
	z-index: 149;
	width: 622px;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -162px;
}

#u63600
{
	width: 154px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
}

#u63603
{
	width: 154px;
	padding-bottom: 18px;
	position: relative;
}

#u63604-4
{
	width: 154px;
	min-height: 32px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u63603:hover #u63604-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u74152
{
	width: 154px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 156px;
}

#u74155
{
	width: 154px;
	padding-bottom: 18px;
	position: relative;
}

#u74156-4
{
	width: 154px;
	min-height: 32px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u63603.MuseMenuActive #u63604-4,#u74155:hover #u74156-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u74153
{
	width: 454px;
	top: 50px;
}

#u74175
{
	width: 454px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74175:hover
{
	width: 454px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74179-4
{
	width: 450px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74175:hover #u74179-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#u74258
{
	width: 454px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74175.MuseMenuActive,#u74258:hover
{
	width: 454px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74261-4
{
	width: 450px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74175.MuseMenuActive #u74179-4,#u74258:hover #u74261-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#u74342
{
	width: 454px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74258.MuseMenuActive,#u74342:hover
{
	width: 454px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74344-4
{
	width: 450px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74258.MuseMenuActive #u74261-4,#u74342:hover #u74344-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#u74321
{
	width: 454px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74342.MuseMenuActive,#u74321:hover
{
	width: 454px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74323-4
{
	width: 450px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74342.MuseMenuActive #u74344-4,#u74321:hover #u74323-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#u74300
{
	width: 454px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74321.MuseMenuActive,#u74300:hover
{
	width: 454px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74302-4
{
	width: 450px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74321.MuseMenuActive #u74323-4,#u74300:hover #u74302-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#u74154,#u74173,#u74257,#u74341,#u74320,#u74299,#u74278
{
	width: 454px;
	position: relative;
}

#u74279
{
	width: 454px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74300.MuseMenuActive,#u74279:hover
{
	width: 454px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74279.MuseMenuActive
{
	width: 454px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74281-4
{
	width: 450px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74300.MuseMenuActive #u74302-4,#u74279:hover #u74281-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#u74279.MuseMenuActive #u74281-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#u74131
{
	width: 154px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u74134
{
	width: 154px;
	padding-bottom: 18px;
	position: relative;
}

#u74135-4
{
	width: 154px;
	min-height: 32px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u74155.MuseMenuActive #u74156-4,#u74134:hover #u74135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u74132
{
	width: 282px;
	top: 50px;
}

#u74196
{
	width: 282px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74196:hover
{
	width: 282px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74200-4
{
	width: 278px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74196:hover #u74200-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 278px;
	margin: 0px -10000px 0px 0px;
}

#u74216
{
	width: 282px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74196.MuseMenuActive,#u74216:hover
{
	width: 282px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74218-4
{
	width: 278px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74196.MuseMenuActive #u74200-4,#u74216:hover #u74218-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 278px;
	margin: 0px -10000px 0px 0px;
}

#u74133,#u74194,#u74215,#u74236
{
	width: 282px;
	position: relative;
}

#u74239
{
	width: 282px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74216.MuseMenuActive,#u74239:hover
{
	width: 282px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74239.MuseMenuActive
{
	width: 282px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74242-4
{
	width: 278px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74216.MuseMenuActive #u74218-4,#u74239:hover #u74242-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 278px;
	margin: 0px -10000px 0px 0px;
}

#u74239.MuseMenuActive #u74242-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 278px;
	margin: 0px -10000px 0px 0px;
}

#u74179-3,#u74261-3,#u74344-3,#u74323-3,#u74302-3,#u74281-3,#u74200-3,#u74218-3,#u74242-3
{
	margin-left: 2px;
	margin-right: 2px;
}

#u74110
{
	width: 154px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 468px;
}

#u74113
{
	width: 154px;
	padding-bottom: 18px;
	position: relative;
}

#u63603.MuseMenuActive,#u74155.MuseMenuActive,#u74134.MuseMenuActive,#u74113.MuseMenuActive
{
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u74114-4
{
	width: 154px;
	min-height: 32px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u74134.MuseMenuActive #u74135-4,#u74113:hover #u74114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u74113.MuseMenuActive #u74114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u72448
{
	z-index: 2;
	min-height: 626.756172750001px;
	background-color: #D8D2D2;
	padding-bottom: 0px;
}

#u72448_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 67px;
	padding-bottom: 89px;
	margin-bottom: -5px;
}

#pu72449
{
	width: 0.01px;
	left: 293px;
	position: relative;
}

#u72449
{
	z-index: 3;
	width: 292px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
}

#u72450-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u72452-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u72451-4
{
	z-index: 12;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 28px;
}

#u72453
{
	z-index: 16;
	width: 255px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 292px;
}

#u72455-4
{
	z-index: 18;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 299px;
}

.js #u72455-4.ose_pre_init
{
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
}

#u72456-4
{
	z-index: 22;
	width: 921px;
	min-height: 35px;
	background-color: transparent;
	line-height: 29px;
	color: #5E5B5B;
	font-size: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	left: 120px;
	margin-top: 24px;
	position: relative;
}

#u72457-10
{
	z-index: 26;
	width: 920px;
	min-height: 131px;
	background-color: transparent;
	color: #5E5B5B;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	left: 120px;
	margin-top: 19px;
	position: relative;
}

#u72457-5
{
	font-size: 45px;
	line-height: 56px;
}

#u72457-2,#u72457-3,#u72457-8
{
	font-size: 24px;
	line-height: 30px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u72448-bw
{
	z-index: 2;
	min-height: 626.756172750001px;
	margin-top: -5px;
}

#u74746-4
{
	z-index: 36;
	width: 920px;
	min-height: 62px;
	background-color: transparent;
	line-height: 56px;
	color: #5E5B5B;
	font-size: 45px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 83px;
	position: relative;
}

#pu87080
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 84px;
}

#u87080
{
	z-index: 40;
	width: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u87081
{
	z-index: 41;
	width: 180px;
	background-color: transparent;
	border-radius: 100px;
	margin-left: 50px;
	position: relative;
}

#u87081:hover
{
	width: 180px;
	min-height: 0px;
	margin: 0px 0px 0px 50px;
}

#u87083-4
{
	z-index: 43;
	width: 300px;
	background-color: transparent;
	line-height: 45px;
	color: #5E5B5B;
	font-size: 45px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 19px;
	position: relative;
}

#u87084
{
	z-index: 47;
	width: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 325px;
}

#u87085
{
	z-index: 52;
	width: 180px;
	border-style: solid;
	border-width: 5px;
	border-color: #999999;
	background-color: transparent;
	border-radius: 100px;
	margin-left: 55px;
	position: relative;
}

#u87085:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	width: 180px;
	min-height: 0px;
	margin: 0px 0px 0px 55px;
}

#u87085_img
{
	margin-left: -10px;
	margin-right: -10px;
}

#u87087-4
{
	z-index: 48;
	width: 300px;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#u87088
{
	z-index: 54;
	width: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 650px;
}

#u87089
{
	z-index: 60;
	height: 180px;
	width: 180px;
	vertical-align: top;
	margin-left: 53px;
	position: relative;
	background: transparent url("../images/u87089.png") no-repeat 0px 0px;
}

#u87089:hover
{
	background: transparent url("../images/u87089-r.png") no-repeat 0px 0px;
}

#u87091-4
{
	z-index: 55;
	width: 300px;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 38px;
	position: relative;
}

#pu87092
{
	width: 0.01px;
	margin-top: 211px;
}

#u87092
{
	z-index: 62;
	width: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u87093
{
	z-index: 68;
	height: 180px;
	width: 180px;
	vertical-align: top;
	margin-left: 49px;
	position: relative;
	background: transparent url("../images/u87093.png") no-repeat 0px 0px;
}

#u87093:hover
{
	background: transparent url("../images/u87093-r.png") no-repeat 0px 0px;
}

#u87095-4
{
	z-index: 63;
	width: 300px;
	min-height: 2px;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 20px;
	position: relative;
}

#u87096
{
	z-index: 70;
	width: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 330px;
}

#u87097
{
	z-index: 75;
	width: 180px;
	background-color: transparent;
	border-radius: 100px;
	margin-left: 60px;
	position: relative;
}

#u87097:hover
{
	width: 180px;
	min-height: 0px;
	margin: 0px 0px 0px 60px;
}

#u87081:hover::before,#u87097:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 100px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u87081 .clip_frame,#u87081:hover::before .clip_frame,#u87097 .clip_frame,#u87097:hover::before .clip_frame
{
	-webkit-border-radius: 100px 100px 100px 100px;
}

#u87099-4
{
	z-index: 71;
	width: 300px;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 20px;
	position: relative;
}

#u87784
{
	z-index: 77;
	width: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: 660px;
}

#u87785
{
	z-index: 82;
	width: 180px;
	border-style: solid;
	border-width: 5px;
	border-color: #999999;
	background-color: transparent;
	border-radius: 100px;
	margin-left: 51px;
	position: relative;
}

#u87785:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	width: 180px;
	min-height: 0px;
	margin: 0px 0px 0px 51px;
}

#u87787-4
{
	z-index: 78;
	width: 300px;
	background-color: transparent;
	line-height: 45px;
	color: #5E5B5B;
	font-size: 45px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#pu88029
{
	width: 0.01px;
	margin-left: 79px;
	margin-top: 263px;
}

#u88029
{
	z-index: 93;
	width: 337px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
}

#u88022
{
	z-index: 99;
	width: 180px;
	border-style: solid;
	border-width: 5px;
	border-color: #999999;
	background-color: transparent;
	border-radius: 100px;
	margin-left: 73px;
	position: relative;
}

#u88022:hover
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	width: 180px;
	min-height: 0px;
	margin: 0px 0px 0px 73px;
}

#u87085 .clip_frame,#u87785 .clip_frame,#u88022 .clip_frame
{
	-webkit-border-radius: 95px 95px 95px 95px;
}

#u87813
{
	z-index: 94;
	width: 337px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u87816-4
{
	z-index: 95;
	width: 337px;
	min-height: 27px;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u88009
{
	z-index: 84;
	width: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 484px;
}

#u88010
{
	z-index: 91;
	height: 180px;
	width: 180px;
	vertical-align: top;
	margin-left: 60px;
	position: relative;
	background: transparent url("../images/u88010.png") no-repeat 0px 0px;
}

#u88010:hover
{
	background: transparent url("../images/u88010-r.png") no-repeat 0px 0px;
}

#u88012-5
{
	z-index: 85;
	width: 300px;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 20px;
	position: relative;
}

#u87087-2,#u87091-2,#u87095-2,#u87099-2,#u87816-2,#u88012-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u87087,#u87091,#u87095,#u87099,#u87816,#u88012-2
{
	font-size: 45px;
	color: #5E5B5B;
	line-height: 45px;
}

#pu25460
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 1008px;
}

#u25460
{
	z-index: 101;
	min-height: 415.93048780487743px;
	padding-bottom: 0px;
}

#u25460_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 46px;
	padding-bottom: 29px;
}

#pu45753
{
	width: 0.01px;
	left: 174px;
	position: relative;
}

#u45753
{
	z-index: 113;
	width: 302px;
	position: relative;
	margin-right: -10000px;
}

#u26765-4
{
	z-index: 114;
	position: relative;
	width: 99px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u26766-4
{
	z-index: 118;
	position: relative;
	width: 203px;
	margin-right: -10000px;
	left: 99px;
}

#u26771-4
{
	z-index: 122;
	position: relative;
	width: 302px;
	margin-right: -10000px;
	margin-top: 76px;
}

#u25776-7
{
	z-index: 106;
	width: 447px;
	min-height: 147px;
	position: relative;
	margin-right: -10000px;
	left: 365px;
}

#u74532
{
	z-index: 133;
	width: 448px;
	left: 544px;
	margin-top: 16px;
	position: relative;
}

#u74525
{
	z-index: 141;
	width: 64px;
	position: relative;
	margin-right: -10000px;
}

#u45735
{
	z-index: 136;
	width: 64px;
	position: relative;
	margin-right: -10000px;
	left: 128px;
}

#u45725
{
	z-index: 134;
	width: 64px;
	position: relative;
	margin-right: -10000px;
	left: 256px;
}

#u74495
{
	z-index: 138;
	width: 64px;
	position: relative;
	margin-right: -10000px;
	left: 384px;
}

#u74484
{
	z-index: 139;
	width: 64px;
	position: relative;
	margin-right: -10000px;
}

#u25482-4
{
	z-index: 102;
	width: 920px;
	min-height: 58px;
	left: 120px;
	margin-top: 35px;
	position: relative;
}

#u99088-4
{
	z-index: 143;
	left: 861px;
	position: relative;
}

#u25460-bw
{
	z-index: 101;
	min-height: 415.93048780487743px;
}

#pbuttonu58473
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 202px;
	margin-left: 195px;
}

#buttonu58473
{
	z-index: 127;
	width: 260px;
	height: 79px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu58473:hover #buttonu58473
{
	width: 259px;
	height: 78px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u58474-4
{
	z-index: 128;
	width: 259px;
	min-height: 48px;
}

#pbuttonu58473:hover #u58474-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 259px;
	margin-right: -10000px;
	margin-top: 15px;
	left: -1px;
	min-height: 48px;
}

#pbuttonu58473.ButtonSelected #u58474-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	width: 259px;
}

#pbuttonu58473 #u58474-4
{
	position: relative;
	width: 259px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 1px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

