.version.protecting_undocumented_immigrants /* version checker */
{
	color: #00000C;
	background-color: #799154;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1520px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -27px;
	width: 0.01px;/* should not cover content below */
}

#pu41698
{
	width: 0.01px;
	padding-bottom: 122px;
	margin-left: -100px;
}

#u41698
{
	z-index: 82;
	height: 122px;
	position: fixed;
	top: -27px;
}

#u41698-bw
{
	z-index: 82;
}

#u37968
{
	z-index: 83;
	width: 909px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 70px;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -460px;
}

#u38040
{
	z-index: 147;
	width: 187px;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -460px;
}

#menuu37969
{
	z-index: 84;
	width: 514px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 48px;
	left: 50%;
	margin-left: -65px;
}

#u37984
{
	width: 108px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u37985
{
	width: 74px;
	border-color: #000000;
	background-color: transparent;
	border-radius: 1px;
	padding-left: 17px;
	padding-right: 17px;
	padding-bottom: 18px;
	position: relative;
}

#u37985.MuseMenuActive
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u37986-4
{
	width: 74px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	color: #5E5B5B;
	letter-spacing: 3px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37985:hover #u37986-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 74px;
	margin: 0px;
}

#u37985.MuseMenuActive #u37986-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 74px;
	margin: 0px;
}

#u37985:hover #u37986-4 p
{
	color: #D8D2D2;
	visibility: inherit;
}

#u37989
{
	width: 425px;
	background-color: transparent;
	top: 42px;
}

#u37990
{
	width: 425px;
	background-color: #D8D2D2;
	position: relative;
}

#u38020
{
	width: 281px;
	background: #FFFFFF url("../images/u37740-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	padding: 2px 142px 5px 2px;
}

#u38020:hover
{
	background: #FFFFFF url("../images/u37740-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#AAAAAA),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#AAAAAA ,#FFFFFF 46%);
	background: linear-gradient(to right,#AAAAAA ,#FFFFFF 46%);
	width: 281px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u38022-4
{
	width: 277px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	color: #5E5B5B;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u38020:hover #u38022-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 277px;
	margin: 0px;
}

#u38020.MuseMenuActive #u38022-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 277px;
	margin: 0px;
}

#u37994
{
	width: 302px;
	background: #FFFFFF url("../images/u37740-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
	padding: 2px 121px 5px 2px;
}

#u37994.MuseMenuActive
{
	background: #FFFFFF url("../images/u38571-a-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#666666),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#666666 ,#FFFFFF 46%);
	background: linear-gradient(to right,#666666 ,#FFFFFF 46%);
	width: 302px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u37995-4
{
	width: 298px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	color: #5E5B5B;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37994:hover #u37995-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 298px;
	margin: 0px;
}

#u37994.MuseMenuActive #u37995-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 298px;
	margin: 0px;
}

#u38001
{
	width: 219px;
	background: #FFFFFF url("../images/u37740-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	padding: 2px 204px 5px 2px;
}

#u38001:hover
{
	background: #FFFFFF url("../images/u37740-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#AAAAAA),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#AAAAAA ,#FFFFFF 46%);
	background: linear-gradient(to right,#AAAAAA ,#FFFFFF 46%);
	width: 219px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u38003-4
{
	width: 215px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	color: #5E5B5B;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u38001:hover #u38003-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 215px;
	margin: 0px;
}

#u38001.MuseMenuActive #u38003-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 215px;
	margin: 0px;
}

#u38027
{
	width: 252px;
	background: #FFFFFF url("../images/u37740-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	padding: 2px 171px 5px 2px;
}

#u38027:hover
{
	background: #FFFFFF url("../images/u37740-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#AAAAAA),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#AAAAAA ,#FFFFFF 46%);
	background: linear-gradient(to right,#AAAAAA ,#FFFFFF 46%);
	width: 252px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u38030-4
{
	width: 248px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	color: #5E5B5B;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u38027:hover #u38030-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 248px;
	margin: 0px;
}

#u38027.MuseMenuActive #u38030-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 248px;
	margin: 0px;
}

#u38006
{
	width: 421px;
	background: #FFFFFF url("../images/u37740-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	padding: 2px 2px 5px;
}

#u38006:hover
{
	background: #FFFFFF url("../images/u37740-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#AAAAAA),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#AAAAAA ,#FFFFFF 46%);
	background: linear-gradient(to right,#AAAAAA ,#FFFFFF 46%);
	width: 421px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u38009-4
{
	width: 417px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	color: #5E5B5B;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u38006:hover #u38009-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 417px;
	margin: 0px;
}

#u38006.MuseMenuActive #u38009-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 417px;
	margin: 0px;
}

#u38019,#u37991,#u37998,#u38026,#u38005,#u38012
{
	width: 425px;
	background-color: transparent;
	position: relative;
}

#u38013
{
	width: 208px;
	background: #FFFFFF url("../images/u37740-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	padding: 2px 215px 5px 2px;
}

#u38013:hover
{
	background: #FFFFFF url("../images/u37740-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#AAAAAA),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#AAAAAA ,#FFFFFF 46%);
	background: linear-gradient(to right,#AAAAAA ,#FFFFFF 46%);
	width: 208px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u38014-4
{
	width: 204px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	color: #5E5B5B;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u38013:hover #u38014-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 204px;
	margin: 0px;
}

#u38013.MuseMenuActive #u38014-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 204px;
	margin: 0px;
}

#u37970
{
	width: 132px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#u37971
{
	width: 99px;
	border-color: #000000;
	background-color: transparent;
	border-radius: 1px;
	padding-left: 16px;
	padding-right: 17px;
	padding-bottom: 18px;
	position: relative;
}

#u37971.MuseMenuActive
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u37974-4
{
	width: 99px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	color: #5E5B5B;
	letter-spacing: 3px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37971:hover #u37974-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 99px;
	margin: 0px;
}

#u37971.MuseMenuActive #u37974-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 99px;
	margin: 0px;
}

#u37971:hover #u37974-4 p
{
	color: #D8D2D2;
	visibility: inherit;
}

#u38033
{
	width: 158px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 244px;
}

#u38036
{
	width: 125px;
	border-color: #000000;
	background-color: transparent;
	border-radius: 1px;
	padding-left: 16px;
	padding-right: 17px;
	padding-bottom: 18px;
	position: relative;
}

#u38036.MuseMenuActive
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u38039-4
{
	width: 125px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	color: #5E5B5B;
	letter-spacing: 3px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u38036:hover #u38039-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 125px;
	margin: 0px;
}

#u38036.MuseMenuActive #u38039-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 125px;
	margin: 0px;
}

#u38036:hover #u38039-4 p
{
	color: #D8D2D2;
	visibility: inherit;
}

#u37977
{
	width: 110px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 404px;
}

#u37980
{
	width: 77px;
	border-color: #000000;
	background-color: transparent;
	border-radius: 1px;
	padding-left: 16px;
	padding-right: 17px;
	padding-bottom: 18px;
	position: relative;
}

#u37981-4
{
	width: 77px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	color: #5E5B5B;
	letter-spacing: 3px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37980:hover #u37981-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 77px;
	margin: 0px;
}

#u37980.MuseMenuActive #u37981-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 77px;
	margin: 0px;
}

#u37980:hover #u37981-4 p
{
	color: #D8D2D2;
	visibility: inherit;
}

#u37985.MuseMenuActive #u37986-4 p,#u37971.MuseMenuActive #u37974-4 p,#u38036.MuseMenuActive #u38039-4 p,#u37980.MuseMenuActive #u37981-4 p
{
	color: #5E5B5B;
	visibility: inherit;
}

#u42028
{
	z-index: 27;
	height: 300px;
	background: #E6E4E4 url("../images/immigration.jpg") no-repeat center center;
	background-size: cover;
}

.js body.initialized
{
	visibility: visible;
}

#u42028-bw
{
	z-index: 27;
	margin-top: -5px;
	margin-bottom: -5px;
	height: 300px;
}

#pu41554
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 40px;
}

#u41554
{
	z-index: 2;
	width: 920px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u41556-4
{
	z-index: 3;
	width: 920px;
	min-height: 45px;
	background-color: transparent;
	line-height: 48px;
	color: #000000;
	font-size: 40px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u41555-20
{
	z-index: 7;
	width: 920px;
	min-height: 408px;
	background-color: transparent;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u41555,#u41555-3
{
	font-size: 20px;
	line-height: 22px;
	color: #7F7F7F;
}

#u41555-7
{
	font-size: 25px;
	line-height: 28px;
	color: #000000;
}

#u41555-4,#u41555-5,#u41555-8
{
	font-size: 20px;
	line-height: 22px;
	color: #999999;
}

#u41555-10,#u41555-11
{
	font-size: 20px;
	line-height: 22px;
	color: #5E5B5B;
}

#u41555-14
{
	color: #5E5B5B;
}

#u41555-17,#u41555-18
{
	font-size: 20px;
	line-height: 22px;
}

#pamphletu58366
{
	z-index: 68;
	width: 0.01px;
	height: 47px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 414px;
	left: 493px;
}

#u58367
{
	position: absolute;
	width: 427px;
	background-color: transparent;
}

#u58367popup
{
	z-index: 69;
}

#u58368
{
	z-index: 70;
	width: 427px;
	height: 48px;
	border-width: 0px;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#pbuttonu58369
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: 108px;
}

#buttonu58369
{
	z-index: 72;
	width: 319px;
	height: 48px;
	border-color: #5E5B5B;
	background-color: #61AB59;
	border-radius: 65px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu58369:active #buttonu58369
{
	width: 318px;
	height: 47px;
	border-style: solid;
	border-width: 1px;
	border-color: #61AB59;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u58370-4
{
	z-index: 73;
	width: 301px;
	min-height: 27px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 10px;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#pbuttonu58369:active #u58370-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 301px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
	min-height: 27px;
}

#pbuttonu58369.ButtonSelected #u58370-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 301px;
}

#pbuttonu58369:active #u58370-4 p
{
	color: #61AB59;
	visibility: inherit;
}

#pbuttonu58369 #u58370-4
{
	position: relative;
	width: 301px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 18px;
}

#u58375
{
	z-index: 78;
	width: 48px;
	position: relative;
	margin-right: -10000px;
	left: 379px;
}

#u58376
{
	position: absolute;
	width: 55px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 8px;
	left: -7px;
}

#u58376:hover
{
	border-color: #DEDEDE;
	width: 55px;
	min-height: 0px;
	margin: 0px;
}

#u58376.PamphletThumbSelected
{
	border-color: #999999;
	width: 55px;
	min-height: 0px;
	margin: 0px;
}

#u58377
{
	z-index: 80;
	width: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 7px;
}

#u58376:hover #u58377
{
	width: 48px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u58376.PamphletThumbSelected #u58377
{
	width: 48px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u50460
{
	z-index: 29;
	width: 930px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 15px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#pbuttonu50424
{
	width: 0.01px;
	margin-right: -10000px;
}

#buttonu50424
{
	z-index: 30;
	width: 303px;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #787878;
	position: relative;
	background: transparent url("../images/islam_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu50424:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 0px;
	background: #545454 url("../images/islam.jpg") no-repeat center center;
	background-size: cover;
}

#u50425-4
{
	z-index: 31;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	line-height: 48px;
	text-align: center;
	font-size: 40px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50424:hover #u50425-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu50424.ButtonSelected #u50425-4
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

.js body,#buttonu50424:hover #u50425-4 p
{
	visibility: hidden;
}

#buttonu50430
{
	z-index: 49;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	margin-top: 9px;
	position: relative;
	background: transparent url("../images/environement_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu50430:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 9px 0px 0px;
	background: transparent url("../images/environement-cropped.jpg") no-repeat center center;
	background-size: cover;
}

#u50431-4
{
	z-index: 50;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	line-height: 48px;
	text-align: center;
	font-size: 40px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50430:hover #u50431-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu50430.ButtonSelected #u50431-4
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50430:hover #u50431-4 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#pbuttonu50434
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 314px;
}

#buttonu50434
{
	z-index: 61;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	position: relative;
	background: transparent url("../images/immigration_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu50434.ButtonSelected
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	width: 303px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/immigration_blur.jpg") no-repeat center center;
	background-size: cover;
}

#u50435-6
{
	z-index: 62;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	line-height: 48px;
	text-align: center;
	font-size: 40px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50434:hover #u50435-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu50434.ButtonSelected #u50435-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50434:hover #u50435-6 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#buttonu50428
{
	z-index: 42;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	margin-top: 9px;
	position: relative;
	background: transparent url("../images/lgbtq_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu50428:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 9px 0px 0px;
	background: transparent url("../images/women%20right.jpg") no-repeat center center;
	background-size: cover;
}

#u50429-6
{
	z-index: 43;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	line-height: 48px;
	text-align: center;
	font-size: 40px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50428:hover #u50429-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu50428.ButtonSelected #u50429-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50428:hover #u50429-6 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#pbuttonu50426
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 627px;
}

#buttonu50426
{
	z-index: 35;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	position: relative;
	background: transparent url("../images/womem_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu50426:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/lgbtq.jpg") no-repeat center center;
	background-size: cover;
}

#u50427-6
{
	z-index: 36;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	line-height: 48px;
	text-align: center;
	font-size: 40px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50426:hover #u50427-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu50426.ButtonSelected #u50427-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50426:hover #u50427-6 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#buttonu50432
{
	z-index: 54;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	margin-top: 9px;
	position: relative;
	background: transparent url("../images/voters_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu50432:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 9px 0px 0px;
	background: #545454 url("../images/voters.jpg") no-repeat center center;
	background-size: cover;
}

#u50433-6
{
	z-index: 55;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	line-height: 48px;
	text-align: center;
	font-size: 40px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50432:hover #u50433-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu50432.ButtonSelected #u50433-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50432:hover #u50433-6 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#pbuttonu58369.ButtonSelected #u58370-4 p,#buttonu50424.ButtonSelected #u50425-4 p,#buttonu50430.ButtonSelected #u50431-4 p,#buttonu50434.ButtonSelected #u50435-6 p,#buttonu50428.ButtonSelected #u50429-6 p,#buttonu50426.ButtonSelected #u50427-6 p,#buttonu50432.ButtonSelected #u50433-6 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50397
{
	z-index: 28;
	height: 12px;
	background-color: #FFFFFF;
}

#u50397-bw
{
	z-index: 28;
	height: 12px;
}

#pu25460
{
	width: 0.01px;
	margin-left: -504px;
	margin-top: -3px;
}

#u25460
{
	z-index: 149;
	min-height: 386.91814230488535px;
	padding-bottom: 0px;
}

#u25460_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 46px;
	padding-bottom: 20px;
}

#pu45753
{
	width: 0.01px;
	left: 174px;
	position: relative;
}

#u45753
{
	z-index: 161;
	width: 302px;
	position: relative;
	margin-right: -10000px;
}

#u26765-4
{
	z-index: 162;
	position: relative;
	margin-right: -10000px;
}

#u26766-4
{
	z-index: 166;
	position: relative;
	margin-right: -10000px;
	left: 99px;
}

#u26771-4
{
	z-index: 170;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
}

#u25776-7
{
	z-index: 154;
	width: 447px;
	min-height: 147px;
	position: relative;
	margin-right: -10000px;
	left: 365px;
}

#u58482
{
	z-index: 182;
	width: 320px;
	left: 603px;
	margin-top: 16px;
	position: relative;
}

#u58479
{
	z-index: 185;
	width: 192px;
	position: relative;
	margin-right: -10000px;
}

#u45735
{
	z-index: 186;
	width: 64px;
	position: relative;
	margin-right: -10000px;
	left: 128px;
}

#pamphletu28862
{
	z-index: 188;
	width: 0.01px;
	height: 64px;
	position: relative;
	margin-right: -10000px;
}

#u28867
{
	position: absolute;
	width: 419px;
	top: -678px;
	left: -327px;
}

#u28867popup
{
	z-index: 189;
}

#u28872
{
	z-index: 190;
	width: 419px;
	height: 623px;
	margin-right: -10000px;
	position: relative;
}

#widgetu35052
{
	z-index: 191;
	width: 0.01px;
	height: 555px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 38px;
}

#widgetu35064
{
	z-index: 192;
	width: 342px;
	height: 53px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu35064.fld-err-st
{
	width: 342px;
	height: 53px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u35066-4
{
	z-index: 193;
	width: 200px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u35065-4
{
	z-index: 197;
	width: 328px;
	min-height: 20px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu35064:hover #u35065-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35064.focus-st #u35065-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35057
{
	z-index: 201;
	width: 342px;
	height: 53px;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu35057.fld-err-st
{
	width: 342px;
	height: 53px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u35059-4
{
	z-index: 202;
	width: 200px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u35058-4
{
	z-index: 206;
	width: 328px;
	min-height: 20px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu35064.fld-err-st #u35065-4,#widgetu35057:hover #u35058-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35057.focus-st #u35058-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35057.fld-err-st #u35058-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35064_input,#widgetu35064_prompt,#widgetu35057_input,#widgetu35057_prompt
{
	width: 328px;
	min-height: 20px;
	padding: 6px;
}

#u35068-4
{
	z-index: 210;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 530px;
	left: 140px;
}

#u35063-4
{
	z-index: 214;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 530px;
	left: 140px;
}

#u35062-4
{
	z-index: 218;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 530px;
	left: 140px;
}

#widgetu35052.frm-sub-st #u35068-4,#widgetu35052.frm-subm-err-st #u35063-4,#widgetu35052.frm-subm-ok-st #u35062-4
{
	min-height: 25px;
}

#u35061-17
{
	z-index: 222;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 525px;
}

#widgetu35053
{
	z-index: 239;
	width: 342px;
	height: 391px;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu35053.fld-err-st
{
	width: 342px;
	height: 391px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u35056-4
{
	z-index: 240;
	width: 200px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu35064.fld-err-st #u35066-4,#widgetu35057.fld-err-st #u35059-4,#widgetu35053.fld-err-st #u35056-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u35055-4
{
	z-index: 244;
	width: 328px;
	min-height: 358px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu35053:hover #u35055-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 358px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35053.focus-st #u35055-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 358px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35053.fld-err-st #u35055-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 358px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35053_input,#widgetu35053_prompt
{
	width: 328px;
	min-height: 358px;
	padding: 6px;
}

#widgetu35064:hover #widgetu35064_input,#widgetu35064.focus-st #widgetu35064_input,#widgetu35064.fld-err-st #widgetu35064_input,#widgetu35064:hover #widgetu35064_prompt,#widgetu35064.focus-st #widgetu35064_prompt,#widgetu35064.fld-err-st #widgetu35064_prompt,#widgetu35057:hover #widgetu35057_input,#widgetu35057.focus-st #widgetu35057_input,#widgetu35057.fld-err-st #widgetu35057_input,#widgetu35057:hover #widgetu35057_prompt,#widgetu35057.focus-st #widgetu35057_prompt,#widgetu35057.fld-err-st #widgetu35057_prompt,#widgetu35053:hover #widgetu35053_input,#widgetu35053.focus-st #widgetu35053_input,#widgetu35053.fld-err-st #widgetu35053_input,#widgetu35053:hover #widgetu35053_prompt,#widgetu35053.focus-st #widgetu35053_prompt,#widgetu35053.fld-err-st #widgetu35053_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u28863
{
	z-index: 248;
	width: 64px;
	position: relative;
	margin-right: -10000px;
}

#u28865
{
	position: absolute;
	width: 64px;
	height: 64px;
}

#u28865.PamphletThumbSelected
{
	width: 64px;
	height: 64px;
	min-height: 0px;
	margin: 0px;
}

#u28878
{
	position: absolute;
	width: 30px;
	padding-bottom: 5px;
	top: -678px;
	left: 62px;
}

#u28878:hover
{
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u28878:active
{
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u28879-4
{
	z-index: 251;
	width: 20px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u45725
{
	z-index: 183;
	width: 64px;
	position: relative;
	margin-right: -10000px;
	left: 256px;
}

#u25482-4
{
	z-index: 150;
	width: 920px;
	min-height: 58px;
	left: 120px;
	margin-top: 35px;
	position: relative;
}

#u25460-bw
{
	z-index: 149;
	min-height: 386.91814230488535px;
}

#contactus
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 13px;
}

#pbuttonu58473
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 202px;
	margin-left: 599px;
}

#buttonu58473
{
	z-index: 176;
	width: 260px;
	height: 79px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu58473:hover #buttonu58473
{
	width: 259px;
	height: 78px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u58474-4
{
	z-index: 177;
	width: 259px;
	min-height: 48px;
}

#pbuttonu58473:hover #u58474-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 259px;
	margin-right: -10000px;
	margin-top: 15px;
	left: -1px;
	min-height: 48px;
}

#pbuttonu58473.ButtonSelected #u58474-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	width: 259px;
}

#pbuttonu58473 #u58474-4
{
	position: relative;
	width: 259px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 1px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

