.version.womens_rights /* version checker */
{
	color: #000019;
	background-color: #4A2A54;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1473px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -27px;
	margin-bottom: -6px;
	width: 0.01px;/* should not cover content below */
}

#pu41698
{
	width: 0.01px;
	padding-bottom: 122px;
	margin-left: -100px;
}

#u41698
{
	z-index: 126;
	height: 122px;
	position: fixed;
	top: -27px;
}

#u41698-bw
{
	z-index: 126;
}

#u63598
{
	z-index: 127;
	width: 920px;
	padding-bottom: 58px;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -460px;
}

#u63628
{
	z-index: 211;
	width: 187px;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -460px;
}

#menuu63599
{
	z-index: 128;
	width: 622px;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -162px;
}

#u63600
{
	width: 154px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
}

#u63603
{
	width: 154px;
	padding-bottom: 18px;
	position: relative;
}

#u63604-4
{
	width: 154px;
	min-height: 32px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u63603:hover #u63604-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u74152
{
	width: 154px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 156px;
}

#u74155
{
	width: 154px;
	padding-bottom: 18px;
	position: relative;
}

#u74156-4
{
	width: 154px;
	min-height: 32px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u63603.MuseMenuActive #u63604-4,#u74155:hover #u74156-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u74153
{
	width: 454px;
	top: 50px;
}

#u74175
{
	width: 454px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74175:hover
{
	width: 454px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74179-4
{
	width: 450px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74175:hover #u74179-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#u74258
{
	width: 454px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74175.MuseMenuActive,#u74258:hover
{
	width: 454px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74261-4
{
	width: 450px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74175.MuseMenuActive #u74179-4,#u74258:hover #u74261-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#u74342
{
	width: 454px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74258.MuseMenuActive,#u74342:hover
{
	width: 454px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74344-4
{
	width: 450px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74258.MuseMenuActive #u74261-4,#u74342:hover #u74344-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#u74321
{
	width: 454px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74342.MuseMenuActive,#u74321:hover
{
	width: 454px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74323-4
{
	width: 450px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74342.MuseMenuActive #u74344-4,#u74321:hover #u74323-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#u74300
{
	width: 454px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74321.MuseMenuActive,#u74300:hover
{
	width: 454px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74302-4
{
	width: 450px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74321.MuseMenuActive #u74323-4,#u74300:hover #u74302-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#u74154,#u74173,#u74257,#u74341,#u74320,#u74299,#u74278
{
	width: 454px;
	position: relative;
}

#u74279
{
	width: 454px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74300.MuseMenuActive,#u74279:hover
{
	width: 454px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74279.MuseMenuActive
{
	width: 454px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74281-4
{
	width: 450px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74300.MuseMenuActive #u74302-4,#u74279:hover #u74281-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#u74279.MuseMenuActive #u74281-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#u74131
{
	width: 154px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u74134
{
	width: 154px;
	padding-bottom: 18px;
	position: relative;
}

#u74135-4
{
	width: 154px;
	min-height: 32px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u74155.MuseMenuActive #u74156-4,#u74134:hover #u74135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u74132
{
	width: 282px;
	top: 50px;
}

#u74196
{
	width: 282px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74196:hover
{
	width: 282px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74200-4
{
	width: 278px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74196:hover #u74200-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 278px;
	margin: 0px -10000px 0px 0px;
}

#u74216
{
	width: 282px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74196.MuseMenuActive,#u74216:hover
{
	width: 282px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74218-4
{
	width: 278px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74196.MuseMenuActive #u74200-4,#u74216:hover #u74218-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 278px;
	margin: 0px -10000px 0px 0px;
}

#u74133,#u74194,#u74215,#u74236
{
	width: 282px;
	position: relative;
}

#u74239
{
	width: 282px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u74216.MuseMenuActive,#u74239:hover
{
	width: 282px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74239.MuseMenuActive
{
	width: 282px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u74242-4
{
	width: 278px;
	min-height: 30px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u74216.MuseMenuActive #u74218-4,#u74239:hover #u74242-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 278px;
	margin: 0px -10000px 0px 0px;
}

#u74239.MuseMenuActive #u74242-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 278px;
	margin: 0px -10000px 0px 0px;
}

#u74179-3,#u74261-3,#u74344-3,#u74323-3,#u74302-3,#u74281-3,#u74200-3,#u74218-3,#u74242-3
{
	margin-left: 2px;
	margin-right: 2px;
}

#u74110
{
	width: 154px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 468px;
}

#u74113
{
	width: 154px;
	padding-bottom: 18px;
	position: relative;
}

#u63603.MuseMenuActive,#u74155.MuseMenuActive,#u74134.MuseMenuActive,#u74113.MuseMenuActive
{
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u74114-4
{
	width: 154px;
	min-height: 32px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u74134.MuseMenuActive #u74135-4,#u74113:hover #u74114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u74113.MuseMenuActive #u74114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u42007
{
	z-index: 2;
	height: 300px;
	background: #E6E4E4 url("../images/women%20right.jpg") no-repeat center center;
	background-size: cover;
}

.js body.initialized
{
	visibility: visible;
}

#u42007-bw
{
	z-index: 2;
	margin-top: -5px;
	margin-bottom: -5px;
	height: 300px;
}

#pu41569
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 40px;
}

#u41569
{
	z-index: 44;
	width: 920px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u41573-4
{
	z-index: 45;
	width: 920px;
	min-height: 45px;
	background-color: transparent;
	color: #000000;
	font-size: 40px;
	line-height: 48px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u41572-17
{
	z-index: 49;
	width: 920px;
	min-height: 397px;
	background-color: transparent;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u41572,#u41572-3
{
	font-size: 20px;
	line-height: 26px;
	color: #7F7F7F;
}

#u41572-4,#u41572-5
{
	font-size: 24px;
	line-height: 31px;
	color: #000000;
}

#u41572-7
{
	font-size: 25px;
	line-height: 33px;
	color: #000000;
}

#u41572-8
{
	font-size: 18px;
	line-height: 23px;
	color: #FFFFFF;
}

#u41572-11
{
	color: #5E5B5B;
}

#u41572-14,#u41572-15
{
	font-size: 20px;
	line-height: 26px;
	color: #999999;
}

#pamphletu58049
{
	z-index: 66;
	width: 0.01px;
	height: 47px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 462px;
	left: 493px;
}

#u58060
{
	position: absolute;
	width: 427px;
	background-color: transparent;
}

#u58060popup
{
	z-index: 67;
}

#u58061
{
	z-index: 68;
	width: 427px;
	height: 48px;
	border-width: 0px;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#pbuttonu58103
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: 108px;
}

#buttonu58103
{
	z-index: 70;
	width: 319px;
	height: 48px;
	border-color: #5E5B5B;
	background-color: #61AB59;
	border-radius: 65px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu58103:active #buttonu58103
{
	width: 318px;
	height: 47px;
	border-style: solid;
	border-width: 1px;
	border-color: #61AB59;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u58104-4
{
	z-index: 71;
	width: 301px;
	min-height: 27px;
	background-color: transparent;
	font-size: 20px;
	letter-spacing: 10px;
	color: #FFFFFF;
	text-align: center;
	line-height: 24px;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#pbuttonu58103:active #u58104-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 301px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
	min-height: 27px;
}

#pbuttonu58103.ButtonSelected #u58104-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 301px;
}

#pbuttonu58103:active #u58104-4 p
{
	color: #61AB59;
	visibility: inherit;
}

#pbuttonu58103 #u58104-4
{
	position: relative;
	width: 301px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 18px;
}

#u58054
{
	z-index: 76;
	width: 48px;
	position: relative;
	margin-right: -10000px;
	left: 379px;
}

#u58055
{
	position: absolute;
	width: 55px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 8px;
	left: -7px;
}

#u58055:hover
{
	border-color: #DEDEDE;
	width: 55px;
	min-height: 0px;
	margin: 0px;
}

#u58055.PamphletThumbSelected
{
	border-color: #999999;
	width: 55px;
	min-height: 0px;
	margin: 0px;
}

#u58125
{
	z-index: 78;
	width: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 7px;
}

#u58055:hover #u58125
{
	width: 48px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u58055.PamphletThumbSelected #u58125
{
	width: 48px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#buttonu50806
{
	z-index: 4;
	width: 303px;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/islam_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu50806:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #545454 url("../images/islam.jpg") no-repeat center center;
	background-size: cover;
}

#u50807-6
{
	z-index: 5;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	line-height: 48px;
	color: #FFFFFF;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50806:hover #u50807-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu50806.ButtonSelected #u50807-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

.js body,#buttonu50806:hover #u50807-6 p
{
	visibility: hidden;
}

#buttonu53412
{
	z-index: 30;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 313px;
	background: transparent url("../images/immigration_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu53412:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/immigration.jpg") no-repeat center center;
	background-size: cover;
}

#u53413-6
{
	z-index: 31;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	line-height: 48px;
	color: #FFFFFF;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu53412:hover #u53413-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu53412.ButtonSelected #u53413-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu53412:hover #u53413-6 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#buttonu50804
{
	z-index: 11;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 627px;
	background: transparent url("../images/womem_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu50804:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../images/lgbtq.jpg") no-repeat center center;
	background-size: cover;
}

#u50805-6
{
	z-index: 12;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	line-height: 48px;
	color: #FFFFFF;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50804:hover #u50805-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu50804.ButtonSelected #u50805-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50804:hover #u50805-6 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#pbuttonu50806,#pbuttonu50800
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 9px;
}

#buttonu50800
{
	z-index: 25;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/environement_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu50800:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/environement-cropped.jpg") no-repeat center center;
	background-size: cover;
}

#u50801-4
{
	z-index: 26;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	line-height: 48px;
	color: #FFFFFF;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50800:hover #u50801-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu50800.ButtonSelected #u50801-4
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50800:hover #u50801-4 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#buttonu50808
{
	z-index: 18;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 314px;
	background: transparent url("../images/lgbtq_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu50808.ButtonSelected
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	width: 303px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/lgbtq_blur.jpg") no-repeat center center;
	background-size: cover;
}

#u50809-6
{
	z-index: 19;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	line-height: 48px;
	color: #FFFFFF;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50808:hover #u50809-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu50808.ButtonSelected #u50809-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50808:hover #u50809-6 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#buttonu53418
{
	z-index: 37;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 627px;
	background: transparent url("../images/voters_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu53418:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #545454 url("../images/voters.jpg") no-repeat center center;
	background-size: cover;
}

#u53419-6
{
	z-index: 38;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	line-height: 48px;
	color: #FFFFFF;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu53418:hover #u53419-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu53418.ButtonSelected #u53419-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu53418:hover #u53419-6 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#pbuttonu58103.ButtonSelected #u58104-4 p,#buttonu50806.ButtonSelected #u50807-6 p,#buttonu53412.ButtonSelected #u53413-6 p,#buttonu50804.ButtonSelected #u50805-6 p,#buttonu50800.ButtonSelected #u50801-4 p,#buttonu50808.ButtonSelected #u50809-6 p,#buttonu53418.ButtonSelected #u53419-6 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50796
{
	z-index: 3;
	height: 12px;
	background-color: #FFFFFF;
}

#u50796-bw
{
	z-index: 3;
	height: 12px;
}

#pu25460
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -3px;
}

#u25460
{
	z-index: 80;
	min-height: 415.93048780487743px;
	padding-bottom: 0px;
}

#u25460_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 46px;
	padding-bottom: 29px;
}

#pu45753
{
	width: 0.01px;
	left: 174px;
	position: relative;
}

#u45753
{
	z-index: 92;
	width: 302px;
	position: relative;
	margin-right: -10000px;
}

#u26765-4
{
	z-index: 93;
	position: relative;
	width: 99px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u26766-4
{
	z-index: 97;
	position: relative;
	width: 203px;
	margin-right: -10000px;
	left: 99px;
}

#u26771-4
{
	z-index: 101;
	position: relative;
	width: 302px;
	margin-right: -10000px;
	margin-top: 76px;
}

#u25776-7
{
	z-index: 85;
	width: 447px;
	min-height: 147px;
	position: relative;
	margin-right: -10000px;
	left: 365px;
}

#u74532
{
	z-index: 112;
	width: 448px;
	left: 544px;
	margin-top: 16px;
	position: relative;
}

#u74525
{
	z-index: 120;
	width: 64px;
	position: relative;
	margin-right: -10000px;
}

#u45735
{
	z-index: 115;
	width: 64px;
	position: relative;
	margin-right: -10000px;
	left: 128px;
}

#u45725
{
	z-index: 113;
	width: 64px;
	position: relative;
	margin-right: -10000px;
	left: 256px;
}

#u74495
{
	z-index: 117;
	width: 64px;
	position: relative;
	margin-right: -10000px;
	left: 384px;
}

#u74484
{
	z-index: 118;
	width: 64px;
	position: relative;
	margin-right: -10000px;
}

#u25482-4
{
	z-index: 81;
	width: 920px;
	min-height: 58px;
	left: 120px;
	margin-top: 35px;
	position: relative;
}

#u99088-4
{
	z-index: 122;
	left: 861px;
	position: relative;
}

#u25460-bw
{
	z-index: 80;
	min-height: 415.93048780487743px;
}

#pbuttonu58473
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 202px;
	margin-left: 195px;
}

#buttonu58473
{
	z-index: 106;
	width: 260px;
	height: 79px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu58473:hover #buttonu58473
{
	width: 259px;
	height: 78px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u58474-4
{
	z-index: 107;
	width: 259px;
	min-height: 48px;
}

#pbuttonu58473:hover #u58474-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 259px;
	margin-right: -10000px;
	margin-top: 15px;
	left: -1px;
	min-height: 48px;
}

#pbuttonu58473.ButtonSelected #u58474-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	width: 259px;
}

#pbuttonu58473 #u58474-4
{
	position: relative;
	width: 259px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 1px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

