.version.issues /* version checker */
{
	color: #0000E1;
	background-color: #E240C6;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1007px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
}

#page_position_content
{
	margin-bottom: -67px;
	width: 0.01px;/* should not cover content below */
}

#u48397
{
	z-index: 136;
	min-height: 60px;
	padding-bottom: 13px;
}

#u48411
{
	z-index: 137;
	width: 199px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 88px;
}

#u48413-5
{
	z-index: 138;
	position: relative;
	width: 59px;
	margin-right: -10000px;
}

#u48412-4
{
	z-index: 143;
	position: relative;
	width: 140px;
	margin-right: -10000px;
	left: 59px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u48397-bw
{
	z-index: 136;
	min-height: 60px;
}

#u53180
{
	width: 93px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
}

#u53183
{
	width: 93px;
	padding-bottom: 24px;
	position: relative;
}

#u53186-4
{
	width: 93px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u53173
{
	width: 93px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 95px;
}

#u53174
{
	width: 93px;
	padding-bottom: 24px;
	position: relative;
}

#u53183.MuseMenuActive,#u53174.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u53176-4
{
	width: 93px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u53183.MuseMenuActive #u53186-4,#u53174.MuseMenuActive #u53176-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u53166
{
	width: 94px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u53167
{
	width: 94px;
	padding-bottom: 24px;
	position: relative;
}

#u53168-4
{
	width: 94px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u53187
{
	width: 94px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u53188
{
	width: 94px;
	padding-bottom: 24px;
	position: relative;
}

#u53167.MuseMenuActive,#u53188.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u53190-4
{
	width: 94px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u53167.MuseMenuActive #u53168-4,#u53188.MuseMenuActive #u53190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#menuu53165,#menuu53165-bw
{
	z-index: 147;
	min-height: 48px;
}

#pu47724
{
	width: 0.01px;
	margin-left: 38px;
	margin-top: 25px;
}

#u47724
{
	z-index: 2;
	width: 136px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 168px;
}

#u47726
{
	z-index: 4;
	width: 168px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#pu47729-4
{
	width: 0.01px;
}

#u47729-4
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u47727-4
{
	z-index: 9;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 53px;
}

#u47728-4
{
	z-index: 13;
	display: block;
	vertical-align: top;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u47665-4
{
	z-index: 17;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 207px;
}

.js #u47665-4.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u47666-4
{
	z-index: 21;
	width: 306px;
	min-height: 45px;
	background-color: transparent;
	color: #5E5B5B;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 37px;
	margin-top: 12px;
	position: relative;
}

#buttonu47667
{
	z-index: 25;
	width: 278px;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #787878;
	margin-left: 51px;
	margin-top: 12px;
	position: relative;
	background: transparent url("../../images/islam_blur.jpg") no-repeat center center;
	background-size: cover;
}

#u47668-4
{
	z-index: 26;
	width: 278px;
	min-height: 60px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	line-height: 53px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu47677
{
	z-index: 50;
	width: 278px;
	border-color: #787878;
	margin-left: 51px;
	margin-top: 12px;
	position: relative;
	background: transparent url("../../images/immigration_blur.jpg") no-repeat center center;
	background-size: cover;
}

#u47678-4
{
	z-index: 51;
	width: 278px;
	min-height: 60px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	line-height: 53px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu47669
{
	z-index: 30;
	width: 278px;
	border-color: #787878;
	margin-left: 51px;
	margin-top: 12px;
	position: relative;
	background: transparent url("../../images/womem_blur.jpg") no-repeat center center;
	background-size: cover;
}

#u47670-4
{
	z-index: 31;
	width: 278px;
	min-height: 60px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	line-height: 53px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu47673
{
	z-index: 40;
	width: 279px;
	border-color: #787878;
	margin-left: 51px;
	margin-top: 12px;
	position: relative;
	background: transparent url("../../images/environement_blur.jpg") no-repeat center center;
	background-size: cover;
}

#u47674-4
{
	z-index: 41;
	width: 278px;
	min-height: 60px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	line-height: 53px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu47671
{
	z-index: 35;
	width: 278px;
	border-color: #787878;
	padding-bottom: 1px;
	margin-left: 51px;
	margin-top: 12px;
	position: relative;
	background: transparent url("../../images/lgbtq_blur.jpg") no-repeat center center;
	background-size: cover;
}

#u47672-4
{
	z-index: 36;
	width: 278px;
	min-height: 60px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	line-height: 53px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu47675
{
	z-index: 45;
	width: 278px;
	border-color: #787878;
	margin-left: 51px;
	margin-top: 11px;
	position: relative;
	background: transparent url("../../images/voters_blur.jpg") no-repeat center center;
	background-size: cover;
}

#u47676-4
{
	z-index: 46;
	width: 278px;
	min-height: 60px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	line-height: 53px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu47667.ButtonSelected #u47668-4,#buttonu47677.ButtonSelected #u47678-4,#buttonu47669.ButtonSelected #u47670-4,#buttonu47673.ButtonSelected #u47674-4,#buttonu47671.ButtonSelected #u47672-4,#buttonu47675.ButtonSelected #u47676-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	width: 278px;
	margin: 0px -10000px 0px 0px;
}

#u47745
{
	z-index: 55;
	height: 12px;
	background-color: #FFFFFF;
}

#u47745-bw
{
	z-index: 55;
	height: 12px;
}

#pamphletu58723
{
	z-index: 56;
	width: 0.01px;
	height: 47px;
	padding-bottom: 9px;
	margin-left: 30px;
	position: relative;
}

#u58724
{
	position: absolute;
	width: 319px;
	background-color: transparent;
}

#u58724popup
{
	z-index: 57;
}

#u58725
{
	z-index: 58;
	width: 319px;
	height: 48px;
	border-width: 0px;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#pbuttonu58726
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#buttonu58726
{
	z-index: 60;
	width: 319px;
	height: 48px;
	border-color: #5E5B5B;
	background-color: #61AB59;
	border-radius: 65px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu58726:active #buttonu58726
{
	width: 318px;
	height: 47px;
	border-style: solid;
	border-width: 1px;
	border-color: #61AB59;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u58727-4
{
	z-index: 61;
	width: 301px;
	min-height: 27px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 10px;
	color: #FFFFFF;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#pbuttonu58726:active #u58727-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 301px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
	min-height: 27px;
}

#pbuttonu58726.ButtonSelected #u58727-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 301px;
}

#pbuttonu58726:active #u58727-4 p
{
	color: #61AB59;
	visibility: inherit;
}

#pbuttonu58726.ButtonSelected #u58727-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pbuttonu58726 #u58727-4
{
	position: relative;
	width: 301px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 18px;
}

#u58734
{
	z-index: 66;
	width: 48px;
	position: relative;
	margin-right: -10000px;
	left: 271px;
}

#u58735
{
	position: absolute;
	width: 55px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 8px;
	left: -7px;
}

#u58735:hover
{
	border-color: #DEDEDE;
	width: 55px;
	min-height: 0px;
	margin: 0px;
}

#u58735.PamphletThumbSelected
{
	border-color: #999999;
	width: 55px;
	min-height: 0px;
	margin: 0px;
}

#u58736
{
	z-index: 68;
	width: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 7px;
}

#u58735:hover #u58736
{
	width: 48px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u58735.PamphletThumbSelected #u58736
{
	width: 48px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu46922
{
	width: 0.01px;
	margin-top: 1px;
}

#u46922
{
	z-index: 70;
	min-height: 275.85000000000025px;
	padding: 25px 23px 246.14999999999975px 18px;
}

#u74667
{
	z-index: 122;
	width: 327px;
	margin-left: 8px;
	position: relative;
}

#u47193
{
	z-index: 123;
	width: 48px;
	position: relative;
	margin-right: -10000px;
	left: 189px;
}

#u47203
{
	z-index: 125;
	width: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 96px;
}

#u74645
{
	z-index: 127;
	width: 327px;
	position: relative;
	margin-right: -10000px;
}

#u47213
{
	z-index: 128;
	width: 48px;
	position: relative;
	margin-right: -10000px;
}

#u74634
{
	z-index: 130;
	width: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 279px;
}

#u46928-9
{
	z-index: 76;
	width: 339px;
	min-height: 104px;
	margin-top: 14px;
	position: relative;
}

#pu46930-4
{
	width: 0.01px;
	margin-left: 57px;
	margin-top: 17px;
	position: relative;
}

#u46930-4
{
	z-index: 85;
	position: relative;
	width: 76px;
	margin-right: -10000px;
}

#u46932-4
{
	z-index: 89;
	position: relative;
	width: 154px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 76px;
}

#u46931-4
{
	z-index: 93;
	margin-left: 57px;
	position: relative;
}

#u46922-bw
{
	z-index: 70;
	min-height: 275.85000000000025px;
}

#u47072
{
	z-index: 71;
	min-height: 76.91234549999172px;
	padding-left: 18px;
	padding-top: 6px;
	padding-bottom: 8.087654500008284px;
}

#u46927-4
{
	z-index: 72;
	width: 339px;
	min-height: 47px;
	position: relative;
}

#u99091-4
{
	z-index: 132;
	margin-left: 253px;
	margin-top: 5px;
	position: relative;
}

#u47072-bw
{
	z-index: 71;
	min-height: 76.91234549999172px;
	margin-top: 475px;
}

#menuu51651
{
	z-index: 97;
	width: 358px;
	position: relative;
	margin-right: -10000px;
	margin-top: 321px;
	left: 8px;
}

#u51666
{
	width: 358px;
	position: relative;
}

#u51669
{
	width: 358px;
	min-height: 22px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u51671-4
{
	width: 358px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u51662
{
	width: 358px;
	min-height: 22px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u51663-4
{
	width: 358px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u51674
{
	width: 358px;
	min-height: 22px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u51677-4
{
	width: 358px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u51659,#u51673,#u51652
{
	width: 358px;
	margin-top: 2px;
	position: relative;
}

#u51655
{
	width: 358px;
	min-height: 22px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u51669.MuseMenuActive,#u51662.MuseMenuActive,#u51674.MuseMenuActive,#u51655.MuseMenuActive
{
	width: 358px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u51656-4
{
	width: 358px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u51669.MuseMenuActive #u51671-4,#u51662.MuseMenuActive #u51663-4,#u51674.MuseMenuActive #u51677-4,#u51655.MuseMenuActive #u51656-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 358px;
	margin: 0px -10000px 0px 0px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 8px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

