.version.kyle /* version checker */
{
	color: #0000EC;
	background-color: #60C675;
}

#page
{
	z-index: 1;
	min-height: 1007px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 380px;
}

#page_position_content
{
	margin-bottom: -67px;
	width: 100%;
}

#u48397
{
	z-index: 88;
	min-height: 60px;
	padding-bottom: 13px;
}

#u48411
{
	z-index: 89;
	width: 199px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 23.16%;
}

#u48413-5
{
	z-index: 90;
	position: relative;
	width: 59px;
	margin-right: -10000px;
}

#u48412-4
{
	z-index: 95;
	position: relative;
	width: 140px;
	margin-right: -10000px;
	left: 29.65%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u48397-bw
{
	z-index: 88;
	min-height: 60px;
}

#u53180
{
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	width: 24.48%;
}

#u53183
{
	padding-bottom: 24px;
	position: relative;
	width: 100%;
}

#u53186-4
{
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	width: 100%;
}

#u53173
{
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	width: 24.48%;
	left: 25%;
}

#u53174
{
	padding-bottom: 24px;
	position: relative;
	width: 100%;
}

#u53176-4
{
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	width: 100%;
}

#u53166
{
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	width: 24.74%;
	left: 50%;
}

#u53167
{
	padding-bottom: 24px;
	position: relative;
	width: 100%;
}

#u53168-4
{
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	width: 100%;
}

#u53187
{
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	width: 24.74%;
	left: 75.27%;
}

#u53188
{
	padding-bottom: 24px;
	position: relative;
	width: 100%;
}

#u53183.MuseMenuActive,#u53174.MuseMenuActive,#u53167.MuseMenuActive,#u53188.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u53190-4
{
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	width: 100%;
}

#u53183.MuseMenuActive #u53186-4,#u53174.MuseMenuActive #u53176-4,#u53167.MuseMenuActive #u53168-4,#u53188.MuseMenuActive #u53190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#menuu53165,#menuu53165-bw
{
	z-index: 99;
	min-height: 48px;
}

#u92518
{
	z-index: 10;
	width: 180px;
	border-style: solid;
	border-width: 5px;
	border-color: #999999;
	background-color: transparent;
	border-radius: 100px;
	margin-left: 95px;
	margin-top: 34px;
	position: relative;
}

#u92518 .clip_frame
{
	-webkit-border-radius: 95px 95px 95px 95px;
}

#u92520-10
{
	z-index: 12;
	background-color: transparent;
	color: #999999;
	text-align: center;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
	width: 75.53%;
	margin-left: 12.37%;
}

#u92520-8
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u92520
{
	font-size: 35px;
	color: #5E5B5B;
	line-height: 35px;
}

#u92520-3
{
	font-size: 25px;
	line-height: 25px;
}

#u92520-7
{
	font-size: 25px;
	color: #3995A7;
	line-height: 25px;
}

#u92517-8
{
	z-index: 2;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	margin-left: 10px;
	margin-top: 20px;
	position: relative;
	width: 94.74%;
}

#u46922
{
	z-index: 22;
	min-height: 275.85000000000025px;
	padding-top: 25px;
	padding-bottom: 246.14999999999975px;
}

#u74667
{
	z-index: 74;
	position: relative;
	width: 86.06%;
	margin-left: 6.85%;
}

#u47193
{
	z-index: 75;
	position: relative;
	margin-right: -10000px;
	width: 14.68%;
	left: 57.8%;
}

#u47203
{
	z-index: 77;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 14.68%;
	left: 29.36%;
}

#u74645
{
	z-index: 79;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u47213
{
	z-index: 80;
	position: relative;
	margin-right: -10000px;
	width: 14.68%;
}

#u74634
{
	z-index: 82;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 14.68%;
	left: 85.33%;
}

#u46928-9
{
	z-index: 28;
	min-height: 104px;
	margin-left: 18px;
	margin-top: 14px;
	position: relative;
	width: 89.22%;
}

#pu46930-4
{
	margin-top: 17px;
	position: relative;
	width: 100%;
}

#u46930-4
{
	z-index: 37;
	position: relative;
	width: 76px;
	margin-right: -10000px;
	left: 19.74%;
}

#u46932-4
{
	z-index: 41;
	position: relative;
	width: 154px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 39.74%;
}

#u46931-4
{
	z-index: 45;
	position: relative;
	width: 60.53%;
	margin-left: 19.74%;
}

#u46922-bw
{
	z-index: 22;
	min-height: 275.85000000000025px;
}

#u47072
{
	z-index: 23;
	min-height: 76.91234549999172px;
	padding-top: 6px;
	padding-bottom: 8.087654500008284px;
}

#u46927-4
{
	z-index: 24;
	min-height: 47px;
	margin-left: 18px;
	position: relative;
	width: 89.22%;
}

#u99091-4
{
	z-index: 84;
	margin-left: 271px;
	margin-top: 5px;
	position: relative;
}

#u47072-bw
{
	z-index: 23;
	min-height: 76.91234549999172px;
	margin-top: 476px;
}

#menuu51651
{
	z-index: 49;
	width: 358px;
	position: relative;
	margin-right: -10000px;
	margin-top: 321px;
	left: 8px;
}

#u51666
{
	width: 358px;
	position: relative;
}

#u51669
{
	width: 358px;
	min-height: 22px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u51671-4
{
	width: 358px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u51662
{
	width: 358px;
	min-height: 22px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u51663-4
{
	width: 358px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u51674
{
	width: 358px;
	min-height: 22px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u51677-4
{
	width: 358px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u51659,#u51673,#u51652
{
	width: 358px;
	margin-top: 2px;
	position: relative;
}

#u51655
{
	width: 358px;
	min-height: 22px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u51669.MuseMenuActive,#u51662.MuseMenuActive,#u51674.MuseMenuActive,#u51655.MuseMenuActive
{
	width: 358px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u51656-4
{
	width: 358px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u51669.MuseMenuActive #u51671-4,#u51662.MuseMenuActive #u51663-4,#u51674.MuseMenuActive #u51677-4,#u51655.MuseMenuActive #u51656-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 358px;
	margin: 0px -10000px 0px 0px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
	padding-bottom: 8px;
}

#pu46922,#u47193_img,#u47203_img,#u47213_img,#u74634_img,#u46931-4_img
{
	width: 100%;
}

