#u48397
{
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: #D8D2D2;
}

.Header-Shadow
{
	border-width: 0px;
	-pie-box-shadow: 0px 2px 8px #7F7F7F;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #8D1E31;
}

#u53180,#u53183
{
	background-color: transparent;
}

#u53186-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #5E5B5B;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u53173,#u53174
{
	background-color: transparent;
}

#u53176-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #5E5B5B;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u53166,#u53167
{
	background-color: transparent;
}

#u53168-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #5E5B5B;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u53187,#u53188
{
	background-color: transparent;
}

#u53190-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #5E5B5B;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u53186,#u53176,#u53168,#u53190
{
	text-decoration: underline;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u46922
{
	background-color: #5E5B5B;
}

#u46928-9
{
	background-color: transparent;
	letter-spacing: 2px;
	color: #ECECEC;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u46928-5
{
	font-size: 18px;
	text-align: center;
	line-height: 23px;
}

#u46928-4
{
	letter-spacing: 3px;
}

#u46928-7
{
	font-size: 12px;
	text-align: justify;
	line-height: 16px;
}

#u46928-6
{
	color: #FFFFFF;
}

#u48413-5_img,#u48412-4_img,#u46930-4_img,#u46932-4_img,#u46931-4_img
{
	display: block;
	vertical-align: top;
}

#u47072
{
	background-color: #D8D2D2;
}

#u46927-4
{
	background-color: transparent;
	color: #999999;
	line-height: 12px;
	font-size: 10px;
	text-align: justify;
}

#u48411,#menuu53165,#menuu51651
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u47213,#u47203,#u47193,#u51666,#u51669
{
	background-color: transparent;
}

#u51671-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #D8D2D2;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u51659,#u51662
{
	background-color: transparent;
}

#u51663-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #D8D2D2;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u51673,#u51674
{
	background-color: transparent;
}

#u51677-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #D8D2D2;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u51652,#u51655
{
	background-color: transparent;
}

#u51656-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #D8D2D2;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
}


