.version.muslim_rights /* version checker */
{
	color: #0000EC;
	background-color: #D0D603;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1729px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
}

#page_position_content
{
	margin-bottom: -67px;
	width: 0.01px;/* should not cover content below */
}

#u48397
{
	z-index: 138;
	min-height: 60px;
	padding-bottom: 13px;
}

#u48411
{
	z-index: 139;
	width: 199px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 88px;
}

#u48413-5
{
	z-index: 140;
	position: relative;
	width: 59px;
	margin-right: -10000px;
}

#u48412-4
{
	z-index: 145;
	position: relative;
	width: 140px;
	margin-right: -10000px;
	left: 59px;
}

.js body.initialized
{
	visibility: visible;
}

#u48397-bw
{
	z-index: 138;
	min-height: 60px;
}

#u53180
{
	width: 93px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
}

#u53183
{
	width: 93px;
	padding-bottom: 24px;
	position: relative;
}

#u53186-4
{
	width: 93px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u53173
{
	width: 93px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 95px;
}

#u53174
{
	width: 93px;
	padding-bottom: 24px;
	position: relative;
}

#u53183.MuseMenuActive,#u53174.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u53176-4
{
	width: 93px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u53183.MuseMenuActive #u53186-4,#u53174.MuseMenuActive #u53176-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u53166
{
	width: 94px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u53167
{
	width: 94px;
	padding-bottom: 24px;
	position: relative;
}

#u53168-4
{
	width: 94px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u53187
{
	width: 94px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u53188
{
	width: 94px;
	padding-bottom: 24px;
	position: relative;
}

#u53167.MuseMenuActive,#u53188.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u53190-4
{
	width: 94px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u53167.MuseMenuActive #u53168-4,#u53188.MuseMenuActive #u53190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#menuu53165,#menuu53165-bw
{
	z-index: 149;
	min-height: 48px;
}

#u47288
{
	z-index: 31;
	height: 111px;
	background: #E6E4E4 url("../../images/islam.jpg") no-repeat center center;
	background-size: cover;
}

#u47288-bw
{
	z-index: 31;
	margin-top: 1px;
	height: 111px;
}

#u47285-4
{
	z-index: 2;
	width: 354px;
	min-height: 43px;
	background-color: transparent;
	color: #000000;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 13px;
	margin-top: 11px;
	position: relative;
}

#u47286-25
{
	z-index: 6;
	width: 354px;
	min-height: 718px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 13px;
	margin-top: 29px;
	position: relative;
}

#u47286-2
{
	font-size: 20px;
	text-align: left;
	line-height: 28px;
	color: #7F7F7F;
}

#u47286-3,#u47286-4
{
	font-size: 20px;
	text-align: justify;
	line-height: 28px;
	color: #5E5B5B;
}

#u47286-6
{
	font-size: 24px;
	text-align: center;
	line-height: 34px;
	color: #000000;
}

#u47286-8,#u47286-9
{
	font-size: 20px;
	text-align: left;
	line-height: 28px;
	color: #5E5B5B;
}

#u47286-22
{
	font-size: 20px;
	text-align: left;
	line-height: 28px;
}

.js body,#u47286-14
{
	visibility: hidden;
}

#u47286-10,#u47286-13,#u47286-15,#u47286-18,#u47286-21
{
	color: #5E5B5B;
}

#u47286-23
{
	font-size: 20px;
	line-height: 32px;
	color: #5E5B5B;
}

#buttonu49801
{
	z-index: 66;
	width: 278px;
	border-color: #787878;
	margin-left: 51px;
	margin-top: 14px;
	position: relative;
	background: transparent url("../../images/immigration_blur.jpg") no-repeat center center;
	background-size: cover;
}

#u49802-4
{
	z-index: 67;
	width: 278px;
	min-height: 60px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	line-height: 53px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu49793
{
	z-index: 46;
	width: 278px;
	border-color: #787878;
	margin-left: 51px;
	margin-top: 12px;
	position: relative;
	background: transparent url("../../images/womem_blur.jpg") no-repeat center center;
	background-size: cover;
}

#u49794-4
{
	z-index: 47;
	width: 278px;
	min-height: 60px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	line-height: 53px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu49797
{
	z-index: 56;
	width: 279px;
	border-color: #787878;
	margin-left: 51px;
	margin-top: 12px;
	position: relative;
	background: transparent url("../../images/environement_blur.jpg") no-repeat center center;
	background-size: cover;
}

#u49798-4
{
	z-index: 57;
	width: 278px;
	min-height: 60px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	line-height: 53px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu49795
{
	z-index: 51;
	width: 278px;
	border-color: #787878;
	padding-bottom: 1px;
	margin-left: 51px;
	margin-top: 12px;
	position: relative;
	background: transparent url("../../images/lgbtq_blur.jpg") no-repeat center center;
	background-size: cover;
}

#u49796-4
{
	z-index: 52;
	width: 278px;
	min-height: 60px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	line-height: 53px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu49799
{
	z-index: 61;
	width: 278px;
	border-color: #787878;
	margin-left: 51px;
	margin-top: 12px;
	position: relative;
	background: transparent url("../../images/voters_blur.jpg") no-repeat center center;
	background-size: cover;
}

#u49800-4
{
	z-index: 62;
	width: 278px;
	min-height: 60px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	line-height: 53px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu49801.ButtonSelected #u49802-4,#buttonu49793.ButtonSelected #u49794-4,#buttonu49797.ButtonSelected #u49798-4,#buttonu49795.ButtonSelected #u49796-4,#buttonu49799.ButtonSelected #u49800-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	width: 278px;
	margin: 0px -10000px 0px 0px;
}

#u49803
{
	z-index: 71;
	height: 12px;
	background-color: #FFFFFF;
}

#u49803-bw
{
	z-index: 71;
	height: 12px;
}

#pamphletu58769
{
	z-index: 32;
	width: 0.01px;
	height: 47px;
	padding-bottom: 9px;
	margin-left: 31px;
	position: relative;
}

#u58770
{
	position: absolute;
	width: 319px;
	background-color: transparent;
}

#u58770popup
{
	z-index: 33;
}

#u58771
{
	z-index: 34;
	width: 319px;
	height: 48px;
	border-width: 0px;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#pbuttonu58772
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#buttonu58772
{
	z-index: 36;
	width: 319px;
	height: 48px;
	border-color: #5E5B5B;
	background-color: #61AB59;
	border-radius: 65px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu58772:active #buttonu58772
{
	width: 318px;
	height: 47px;
	border-style: solid;
	border-width: 1px;
	border-color: #61AB59;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u58773-4
{
	z-index: 37;
	width: 301px;
	min-height: 27px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 10px;
	color: #FFFFFF;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#pbuttonu58772:active #u58773-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 301px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
	min-height: 27px;
}

#pbuttonu58772.ButtonSelected #u58773-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 301px;
}

#pbuttonu58772:active #u58773-4 p
{
	color: #61AB59;
	visibility: inherit;
}

#pbuttonu58772.ButtonSelected #u58773-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pbuttonu58772 #u58773-4
{
	position: relative;
	width: 301px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 18px;
}

#u58780
{
	z-index: 42;
	width: 48px;
	position: relative;
	margin-right: -10000px;
	left: 264px;
}

#u58781
{
	position: absolute;
	width: 55px;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 8px;
	left: -7px;
}

#u58781:hover
{
	border-color: #DEDEDE;
	width: 55px;
	min-height: 0px;
	margin: 0px;
}

#u58781.PamphletThumbSelected
{
	border-color: #999999;
	width: 55px;
	min-height: 0px;
	margin: 0px;
}

#u58782
{
	z-index: 44;
	width: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 7px;
}

#u58781:hover #u58782
{
	width: 48px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u58781.PamphletThumbSelected #u58782
{
	width: 48px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu46922
{
	width: 0.01px;
}

#u46922
{
	z-index: 72;
	min-height: 275.85000000000036px;
	padding: 25px 23px 246.14999999999964px 18px;
}

#u74667
{
	z-index: 124;
	width: 327px;
	margin-left: 8px;
	position: relative;
}

#u47193
{
	z-index: 125;
	width: 48px;
	position: relative;
	margin-right: -10000px;
	left: 189px;
}

#u47203
{
	z-index: 127;
	width: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 96px;
}

#u74645
{
	z-index: 129;
	width: 327px;
	position: relative;
	margin-right: -10000px;
}

#u47213
{
	z-index: 130;
	width: 48px;
	position: relative;
	margin-right: -10000px;
}

#u74634
{
	z-index: 132;
	width: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 279px;
}

#u46928-9
{
	z-index: 78;
	width: 339px;
	min-height: 104px;
	margin-top: 14px;
	position: relative;
}

#pu46930-4
{
	width: 0.01px;
	margin-left: 57px;
	margin-top: 17px;
	position: relative;
}

#u46930-4
{
	z-index: 87;
	position: relative;
	width: 76px;
	margin-right: -10000px;
}

#u46932-4
{
	z-index: 91;
	position: relative;
	width: 154px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 76px;
}

#u46931-4
{
	z-index: 95;
	margin-left: 57px;
	position: relative;
}

#u46922-bw
{
	z-index: 72;
	min-height: 275.85000000000036px;
}

#u47072
{
	z-index: 73;
	min-height: 76.91234549999194px;
	padding-left: 18px;
	padding-top: 6px;
	padding-bottom: 8.087654500008057px;
}

#u46927-4
{
	z-index: 74;
	width: 339px;
	min-height: 47px;
	position: relative;
}

#u99091-4
{
	z-index: 134;
	margin-left: 253px;
	margin-top: 5px;
	position: relative;
}

#u47072-bw
{
	z-index: 73;
	min-height: 76.91234549999194px;
	margin-top: 476px;
}

#menuu51651
{
	z-index: 99;
	width: 358px;
	position: relative;
	margin-right: -10000px;
	margin-top: 321px;
	left: 8px;
}

#u51666
{
	width: 358px;
	position: relative;
}

#u51669
{
	width: 358px;
	min-height: 22px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u51671-4
{
	width: 358px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u51662
{
	width: 358px;
	min-height: 22px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u51663-4
{
	width: 358px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u51674
{
	width: 358px;
	min-height: 22px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u51677-4
{
	width: 358px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u51659,#u51673,#u51652
{
	width: 358px;
	margin-top: 2px;
	position: relative;
}

#u51655
{
	width: 358px;
	min-height: 22px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u51669.MuseMenuActive,#u51662.MuseMenuActive,#u51674.MuseMenuActive,#u51655.MuseMenuActive
{
	width: 358px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u51656-4
{
	width: 358px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u51669.MuseMenuActive #u51671-4,#u51662.MuseMenuActive #u51663-4,#u51674.MuseMenuActive #u51677-4,#u51655.MuseMenuActive #u51656-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 358px;
	margin: 0px -10000px 0px 0px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 8px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

