#menu-settings{
  height: 84px;
  background-color: #dddddd;
}
.table{
  display: table;
  margin: 0 auto;
}

.table ul#navigation-bar{
  min-width: 600px;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}
.table li{
  float: left;
  border-right: 1px solid #bbb;
}
.table li:last-child{
  border-right: none;
}
.table a {
  display: block;
  padding: 8px;
}
.table a:hover{
  background-color: #8B8888;
}
.beachpic{
  position: relative;
  max-width: 100%;
  height: auto;
  width: auto\9;
}
.text-overlay h1{
  position: absolute;
  top:200px;
  left: 30%;
  width:100%;
}
.text-overlay h1 span {
  color:white;
  font: bold 150px/500px Helvetica, Sans-Seriff;
  letter-spacing: -1px;
  padding: 10px;
}
