
<div class="clearfix" id="page"><!-- column -->


  <img class="grpelemimg" id="weimg" alt="WE " width="128" height="120" src="../images/u439-4.png"/><!-- rasterized frame -->
  <img class="grpelemimg" id="u442-4" alt="REMAIN" width="284" height="120" src="../images/u442-4.png"/><!-- rasterized frame -->
  <img class="" id="afundimg" alt="A FUND FOR PROGRESS" width="344" height="43" src="../images/u456-4.png"/><!-- rasterized frame -->
  <img class="grpelemimg" id="lineimg" src="../images/line.jpg" alt="" width="345" height="88"/>
  <img class="" id="adjectiveimg" alt="Engaged Responsible Loving Kind Hopeful Tolerant Just Optimistic Thoughtful Informed" width="284" height="1050" src="../images/u1381-22.png"/><!-- rasterized frame -->

  <div class="verticalspacer"></div>
</div>


<!-- <div>
  <a id="about"><about-comp></about-comp></a>
</div>

<div>
  <a id="donate"><donate-comp></donate-comp></a>
</div>

<div>
  <a id="contact"><social-media-comp></social-media-comp></a>
</div> -->

