.version.get_involved /* version checker */
{
	color: #0000EF;
	background-color: #A3339C;
}

#page
{
	z-index: 1;
	width: 724px;
	min-height: 225px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 104px 118px 171px;
}

#menuu94
{
	z-index: 11;
	width: 924px;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -462px;
}

#u95
{
	width: 135px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
}

#u96
{
	width: 133px;
	padding-bottom: 16px;
	position: relative;
}

#u96.MuseMenuActive
{
	width: 133px;
	min-height: 0px;
	margin: 0px;
}

#u98-4
{
	width: 61px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 36px;
}

#u96.MuseMenuActive #u98-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u2086
{
	width: 136px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 135px;
}

#u2089
{
	width: 134px;
	padding-bottom: 16px;
	position: relative;
}

#u2089.MuseMenuActive
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u2091-4
{
	width: 62px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 36px;
}

#u2089.MuseMenuActive #u2091-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u2087
{
	width: 136px;
	top: 42px;
}

#u2088,#u2549
{
	width: 136px;
	position: relative;
}

#u2550
{
	width: 134px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2550:hover
{
	width: 134px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2550.MuseMenuActive
{
	width: 134px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2553-4
{
	width: 105px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 10px;
}

#u2550:hover #u2553-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 105px;
	margin: 0px -10000px 0px 0px;
}

#u2550.MuseMenuActive #u2553-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 105px;
	margin: 0px -10000px 0px 0px;
}

#u2107
{
	width: 180px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 271px;
}

#u2110
{
	width: 178px;
	padding-bottom: 16px;
	position: relative;
}

#u2110.MuseMenuActive
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u2111-4
{
	width: 107px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 35px;
}

#u2110.MuseMenuActive #u2111-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u2108
{
	width: 180px;
	top: 42px;
}

#u2109,#u2428
{
	width: 180px;
	position: relative;
}

#u2430
{
	width: 178px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2430:hover
{
	width: 178px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2430.MuseMenuActive
{
	width: 178px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2434-4
{
	width: 60px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 55px;
}

#u2430:hover #u2434-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u2430.MuseMenuActive #u2434-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u2128
{
	width: 166px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 451px;
}

#u2131
{
	width: 164px;
	padding-bottom: 16px;
	position: relative;
}

#u2131.MuseMenuActive
{
	width: 164px;
	min-height: 0px;
	margin: 0px;
}

#u2134-4
{
	width: 93px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 35px;
}

#u2131.MuseMenuActive #u2134-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u2149
{
	width: 150px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 617px;
}

#u2150
{
	width: 148px;
	padding-bottom: 16px;
	position: relative;
}

#u2150.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u2152-4
{
	width: 77px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 35px;
}

#u2150.MuseMenuActive #u2152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u2154
{
	width: 150px;
	top: 42px;
}

#u2477
{
	width: 148px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2477:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2481-4
{
	width: 38px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 51px;
}

#u2477:hover #u2481-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u2477.MuseMenuActive #u2481-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u2155,#u2475,#u2591
{
	width: 150px;
	position: relative;
}

#u2592
{
	width: 148px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2477.MuseMenuActive,#u2592:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2592.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2595-4
{
	width: 107px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 16px;
}

#u2592:hover #u2595-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u2592.MuseMenuActive #u2595-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u2170
{
	width: 157px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	left: 767px;
}

#u2171
{
	width: 155px;
	padding-bottom: 16px;
	position: relative;
}

#u2171.MuseMenuActive
{
	width: 155px;
	min-height: 0px;
	margin: 0px;
}

#u2173-4
{
	width: 84px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 35px;
}

#u2171.MuseMenuActive #u2173-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u2698-4
{
	z-index: 2;
	width: 724px;
	min-height: 35px;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #7F7F7F;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#buttonu2701
{
	z-index: 6;
	width: 382px;
	border-color: #787878;
	background-color: #8B8888;
	padding-bottom: 11px;
	margin-left: 155px;
	margin-top: 62px;
	position: relative;
}

#buttonu2701:hover
{
	background-color: #545454;
	width: 382px;
	min-height: 0px;
	margin: 62px 0px 0px 155px;
}

#u2703-4
{
	z-index: 7;
	width: 267px;
	min-height: 23px;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 68px;
}

#buttonu2701:hover #u2703-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 267px;
	margin: 12px -10000px 0px 0px;
}

#buttonu2701.ButtonSelected #u2703-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 267px;
	margin: 12px -10000px 0px 0px;
}

#buttonu2701:hover #u2703-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

