.version.ensuring_environmental_justice /* version checker */
{
	color: #000000;
	background-color: #961D50;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1408.7993745347362px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -27px;
	width: 0.01px;/* should not cover content below */
}

#pu41698
{
	width: 0.01px;
	padding-bottom: 122px;
	margin-left: -100px;
}

#u41698
{
	z-index: 66;
	height: 122px;
	position: fixed;
	top: -27px;
}

#u41698-bw
{
	z-index: 66;
}

#u39093
{
	z-index: 67;
	width: 909px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 70px;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -460px;
}

#u39165
{
	z-index: 131;
	width: 187px;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -460px;
}

#menuu39094
{
	z-index: 68;
	width: 514px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 48px;
	left: 50%;
	margin-left: -65px;
}

#u39109
{
	width: 108px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u39110
{
	width: 74px;
	border-color: #000000;
	background-color: transparent;
	border-radius: 1px;
	padding-left: 17px;
	padding-right: 17px;
	padding-bottom: 18px;
	position: relative;
}

#u39110.MuseMenuActive
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u39111-4
{
	width: 74px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 20px;
	letter-spacing: 3px;
	color: #5E5B5B;
	line-height: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u39110:hover #u39111-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 74px;
	margin: 0px;
}

#u39110.MuseMenuActive #u39111-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 74px;
	margin: 0px;
}

#u39110:hover #u39111-4 p
{
	color: #D8D2D2;
	visibility: inherit;
}

#u39114
{
	width: 425px;
	background-color: transparent;
	top: 42px;
}

#u39115
{
	width: 425px;
	background-color: #D8D2D2;
	position: relative;
}

#u39145
{
	width: 281px;
	background: #FFFFFF url("../images/u37740-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	padding: 2px 142px 17px 2px;
}

#u39145:hover
{
	background: #FFFFFF url("../images/u37740-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#AAAAAA),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#AAAAAA ,#FFFFFF 46%);
	background: linear-gradient(to right,#AAAAAA ,#FFFFFF 46%);
	width: 281px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u39147-4
{
	width: 277px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #5E5B5B;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u39145:hover #u39147-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 277px;
	margin: 0px;
}

#u39145.MuseMenuActive #u39147-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 277px;
	margin: 0px;
}

#u39119
{
	width: 302px;
	background: #FFFFFF url("../images/u37740-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	padding: 2px 121px 17px 2px;
}

#u39119:hover
{
	background: #FFFFFF url("../images/u37740-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#AAAAAA),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#AAAAAA ,#FFFFFF 46%);
	background: linear-gradient(to right,#AAAAAA ,#FFFFFF 46%);
	width: 302px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u39120-4
{
	width: 298px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #5E5B5B;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u39119:hover #u39120-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 298px;
	margin: 0px;
}

#u39119.MuseMenuActive #u39120-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 298px;
	margin: 0px;
}

#u39126
{
	width: 219px;
	background: #FFFFFF url("../images/u37740-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	padding: 2px 204px 17px 2px;
}

#u39126:hover
{
	background: #FFFFFF url("../images/u37740-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#AAAAAA),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#AAAAAA ,#FFFFFF 46%);
	background: linear-gradient(to right,#AAAAAA ,#FFFFFF 46%);
	width: 219px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u39128-4
{
	width: 215px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #5E5B5B;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u39126:hover #u39128-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 215px;
	margin: 0px;
}

#u39126.MuseMenuActive #u39128-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 215px;
	margin: 0px;
}

#u39152
{
	width: 252px;
	background: #FFFFFF url("../images/u37740-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
	padding: 2px 171px 17px 2px;
}

#u39152.MuseMenuActive
{
	background: #FFFFFF url("../images/u38571-a-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#666666),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#666666 ,#FFFFFF 46%);
	background: linear-gradient(to right,#666666 ,#FFFFFF 46%);
	width: 252px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u39155-4
{
	width: 248px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #5E5B5B;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u39152:hover #u39155-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 248px;
	margin: 0px;
}

#u39152.MuseMenuActive #u39155-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 248px;
	margin: 0px;
}

#u39131
{
	width: 421px;
	background: #FFFFFF url("../images/u37740-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	padding: 2px 2px 17px;
}

#u39131:hover
{
	background: #FFFFFF url("../images/u37740-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#AAAAAA),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#AAAAAA ,#FFFFFF 46%);
	background: linear-gradient(to right,#AAAAAA ,#FFFFFF 46%);
	width: 421px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u39134-4
{
	width: 417px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #5E5B5B;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u39131:hover #u39134-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 417px;
	margin: 0px;
}

#u39131.MuseMenuActive #u39134-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 417px;
	margin: 0px;
}

#u39144,#u39116,#u39123,#u39151,#u39130,#u39137
{
	width: 425px;
	background-color: transparent;
	position: relative;
}

#u39138
{
	width: 208px;
	background: #FFFFFF url("../images/u37740-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	padding: 2px 215px 17px 2px;
}

#u39138:hover
{
	background: #FFFFFF url("../images/u37740-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#AAAAAA),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#AAAAAA ,#FFFFFF 46%);
	background: linear-gradient(to right,#AAAAAA ,#FFFFFF 46%);
	width: 208px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u39139-4
{
	width: 204px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #5E5B5B;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u39138:hover #u39139-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 204px;
	margin: 0px;
}

#u39138.MuseMenuActive #u39139-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 204px;
	margin: 0px;
}

#u39095
{
	width: 132px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#u39096
{
	width: 99px;
	border-color: #000000;
	background-color: transparent;
	border-radius: 1px;
	padding-left: 16px;
	padding-right: 17px;
	padding-bottom: 18px;
	position: relative;
}

#u39096.MuseMenuActive
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u39099-4
{
	width: 99px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 20px;
	letter-spacing: 3px;
	color: #5E5B5B;
	line-height: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u39096:hover #u39099-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 99px;
	margin: 0px;
}

#u39096.MuseMenuActive #u39099-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 99px;
	margin: 0px;
}

#u39096:hover #u39099-4 p
{
	color: #D8D2D2;
	visibility: inherit;
}

#u39158
{
	width: 158px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 244px;
}

#u39161
{
	width: 125px;
	border-color: #000000;
	background-color: transparent;
	border-radius: 1px;
	padding-left: 16px;
	padding-right: 17px;
	padding-bottom: 18px;
	position: relative;
}

#u39161.MuseMenuActive
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u39164-4
{
	width: 125px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 20px;
	letter-spacing: 3px;
	color: #5E5B5B;
	line-height: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u39161:hover #u39164-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 125px;
	margin: 0px;
}

#u39161.MuseMenuActive #u39164-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 125px;
	margin: 0px;
}

#u39161:hover #u39164-4 p
{
	color: #D8D2D2;
	visibility: inherit;
}

#u39102
{
	width: 110px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 404px;
}

#u39105
{
	width: 77px;
	border-color: #000000;
	background-color: transparent;
	border-radius: 1px;
	padding-left: 16px;
	padding-right: 17px;
	padding-bottom: 18px;
	position: relative;
}

#u39106-4
{
	width: 77px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 20px;
	letter-spacing: 3px;
	color: #5E5B5B;
	line-height: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u39105:hover #u39106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 77px;
	margin: 0px;
}

#u39105.MuseMenuActive #u39106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 77px;
	margin: 0px;
}

#u39105:hover #u39106-4 p
{
	color: #D8D2D2;
	visibility: inherit;
}

#u39110.MuseMenuActive #u39111-4 p,#u39096.MuseMenuActive #u39099-4 p,#u39161.MuseMenuActive #u39164-4 p,#u39105.MuseMenuActive #u39106-4 p
{
	color: #5E5B5B;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pcontactus
{
	width: 0.01px;
	margin-left: -501px;
	margin-top: -5px;
}

#contactus
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 201px;
}

#u42004
{
	z-index: 2;
	height: 300px;
	background: #E6E4E4 url("../images/environement-cropped.jpg") no-repeat center center;
	background-size: cover;
}

.js body.initialized
{
	visibility: visible;
}

#u42004-bw
{
	z-index: 2;
	height: 300px;
}

#u41518
{
	z-index: 3;
	width: 920px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 20px;
	margin-top: 40px;
	position: relative;
}

#u41520-4
{
	z-index: 4;
	width: 920px;
	min-height: 45px;
	background-color: transparent;
	color: #000000;
	line-height: 48px;
	font-size: 40px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u41519-18
{
	z-index: 8;
	width: 920px;
	min-height: 326px;
	background-color: transparent;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u41519,#u41519-3
{
	font-size: 20px;
	text-align: left;
	line-height: 28px;
	color: #7F7F7F;
}

#u41519-7
{
	font-size: 25px;
	text-align: left;
	line-height: 35px;
	color: #000000;
}

#u41519-8
{
	font-size: 24px;
	text-align: left;
	line-height: 34px;
	color: #000000;
}

#u41519-4,#u41519-5,#u41519-15
{
	font-size: 20px;
	text-align: left;
	line-height: 28px;
	color: #999999;
}

#u41519-11,#u41519-14
{
	color: #5E5B5B;
}

#u41519-16
{
	font-size: 20px;
	line-height: 32px;
}

#u50671
{
	z-index: 27;
	width: 930px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 15px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pbuttonu50680
{
	width: 0.01px;
	margin-right: -10000px;
}

#buttonu50680
{
	z-index: 28;
	width: 303px;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #787878;
	position: relative;
	background: transparent url("../images/islam_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu50680:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 0px;
	background: #545454 url("../images/islam.jpg") no-repeat center center;
	background-size: cover;
}

#u50681-4
{
	z-index: 29;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50680:hover #u50681-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu50680.ButtonSelected #u50681-4
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

.js body,#buttonu50680:hover #u50681-4 p
{
	visibility: hidden;
}

#buttonu50674
{
	z-index: 47;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	margin-top: 9px;
	position: relative;
	background: transparent url("../images/environement_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu50674.ButtonSelected
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	width: 303px;
	min-height: 0px;
	margin: 9px 0px 0px;
	background: transparent url("../images/environement_blur.jpg") no-repeat center center;
	background-size: cover;
}

#u50675-4
{
	z-index: 48;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50674:hover #u50675-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu50674.ButtonSelected #u50675-4
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50674:hover #u50675-4 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#pbuttonu50676
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 314px;
}

#buttonu50676
{
	z-index: 59;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	position: relative;
	background: transparent url("../images/immigration_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu50676:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/immigration.jpg") no-repeat center center;
	background-size: cover;
}

#u50677-6
{
	z-index: 60;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50676:hover #u50677-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu50676.ButtonSelected #u50677-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50676:hover #u50677-6 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#buttonu50682
{
	z-index: 40;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	margin-top: 9px;
	position: relative;
	background: transparent url("../images/lgbtq_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu50682:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 9px 0px 0px;
	background: transparent url("../images/women%20right.jpg") no-repeat center center;
	background-size: cover;
}

#u50683-6
{
	z-index: 41;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50682:hover #u50683-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu50682.ButtonSelected #u50683-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50682:hover #u50683-6 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#pbuttonu50678
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 627px;
}

#buttonu50678
{
	z-index: 33;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	position: relative;
	background: transparent url("../images/womem_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu50678:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/lgbtq.jpg") no-repeat center center;
	background-size: cover;
}

#u50679-6
{
	z-index: 34;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50678:hover #u50679-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu50678.ButtonSelected #u50679-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50678:hover #u50679-6 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#buttonu50672
{
	z-index: 52;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	margin-top: 9px;
	position: relative;
	background: transparent url("../images/voters_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu50672:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 9px 0px 0px;
	background: #545454 url("../images/voters.jpg") no-repeat center center;
	background-size: cover;
}

#u50673-6
{
	z-index: 53;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50672:hover #u50673-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu50672.ButtonSelected #u50673-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu50672:hover #u50673-6 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#buttonu50680.ButtonSelected #u50681-4 p,#buttonu50674.ButtonSelected #u50675-4 p,#buttonu50676.ButtonSelected #u50677-6 p,#buttonu50682.ButtonSelected #u50683-6 p,#buttonu50678.ButtonSelected #u50679-6 p,#buttonu50672.ButtonSelected #u50673-6 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u50670
{
	z-index: 26;
	height: 12px;
	background-color: #FFFFFF;
}

#u50670-bw
{
	z-index: 26;
	height: 12px;
}

#pu25460
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -4px;
}

#u25460
{
	z-index: 133;
	min-height: 386.73765450000815px;
	padding-bottom: 0px;
}

#u25460_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 46px;
	padding-bottom: 20px;
}

#pu45753
{
	width: 0.01px;
	left: 120px;
	position: relative;
}

#u45753
{
	z-index: 149;
	width: 302px;
	position: relative;
	margin-right: -10000px;
}

#u26765-4
{
	z-index: 150;
	position: relative;
	margin-right: -10000px;
}

#u26766-4
{
	z-index: 154;
	position: relative;
	margin-right: -10000px;
	left: 99px;
}

#u26771-4
{
	z-index: 158;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
}

#u25776-7
{
	z-index: 142;
	width: 460px;
	min-height: 165px;
	position: relative;
	margin-right: -10000px;
	left: 460px;
}

#pu45735
{
	width: 0.01px;
	left: 548px;
	margin-top: 17px;
	position: relative;
}

#u45735
{
	z-index: 134;
	width: 64px;
	position: relative;
	margin-right: -10000px;
}

#u45725
{
	z-index: 136;
	width: 64px;
	position: relative;
	margin-right: -10000px;
	left: 128px;
}

#u25482-4
{
	z-index: 138;
	width: 920px;
	min-height: 58px;
	left: 120px;
	margin-top: 16px;
	position: relative;
}

#u25460-bw
{
	z-index: 133;
	min-height: 386.73765450000815px;
}

#pamphletu28862
{
	z-index: 163;
	width: 0.01px;
	height: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 228px;
	left: 420px;
}

#u28867
{
	position: absolute;
	width: 419px;
	top: -697px;
	left: -50px;
}

#u28867popup
{
	z-index: 164;
}

#u28872
{
	z-index: 165;
	width: 419px;
	height: 623px;
	margin-right: -10000px;
	position: relative;
}

#widgetu35052
{
	z-index: 166;
	width: 0.01px;
	height: 555px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 38px;
}

#widgetu35064
{
	z-index: 167;
	width: 342px;
	height: 53px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu35064.fld-err-st
{
	width: 342px;
	height: 53px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u35066-4
{
	z-index: 168;
	width: 200px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u35065-4
{
	z-index: 172;
	width: 328px;
	min-height: 20px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu35064:hover #u35065-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35064.focus-st #u35065-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35057
{
	z-index: 176;
	width: 342px;
	height: 53px;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu35057.fld-err-st
{
	width: 342px;
	height: 53px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u35059-4
{
	z-index: 177;
	width: 200px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u35058-4
{
	z-index: 181;
	width: 328px;
	min-height: 20px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu35064.fld-err-st #u35065-4,#widgetu35057:hover #u35058-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35057.focus-st #u35058-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35057.fld-err-st #u35058-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35064_input,#widgetu35064_prompt,#widgetu35057_input,#widgetu35057_prompt
{
	width: 328px;
	min-height: 20px;
	padding: 6px;
}

#u35068-4
{
	z-index: 185;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 530px;
	left: 140px;
}

#u35063-4
{
	z-index: 189;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 530px;
	left: 140px;
}

#u35062-4
{
	z-index: 193;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 530px;
	left: 140px;
}

#widgetu35052.frm-sub-st #u35068-4,#widgetu35052.frm-subm-err-st #u35063-4,#widgetu35052.frm-subm-ok-st #u35062-4
{
	min-height: 25px;
}

#u35061-17
{
	z-index: 197;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 525px;
}

#widgetu35053
{
	z-index: 214;
	width: 342px;
	height: 391px;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu35053.fld-err-st
{
	width: 342px;
	height: 391px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u35056-4
{
	z-index: 215;
	width: 200px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu35064.fld-err-st #u35066-4,#widgetu35057.fld-err-st #u35059-4,#widgetu35053.fld-err-st #u35056-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u35055-4
{
	z-index: 219;
	width: 328px;
	min-height: 358px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu35053:hover #u35055-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 358px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35053.focus-st #u35055-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 358px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35053.fld-err-st #u35055-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 358px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35053_input,#widgetu35053_prompt
{
	width: 328px;
	min-height: 358px;
	padding: 6px;
}

#widgetu35064:hover #widgetu35064_input,#widgetu35064.focus-st #widgetu35064_input,#widgetu35064.fld-err-st #widgetu35064_input,#widgetu35064:hover #widgetu35064_prompt,#widgetu35064.focus-st #widgetu35064_prompt,#widgetu35064.fld-err-st #widgetu35064_prompt,#widgetu35057:hover #widgetu35057_input,#widgetu35057.focus-st #widgetu35057_input,#widgetu35057.fld-err-st #widgetu35057_input,#widgetu35057:hover #widgetu35057_prompt,#widgetu35057.focus-st #widgetu35057_prompt,#widgetu35057.fld-err-st #widgetu35057_prompt,#widgetu35053:hover #widgetu35053_input,#widgetu35053.focus-st #widgetu35053_input,#widgetu35053.fld-err-st #widgetu35053_input,#widgetu35053:hover #widgetu35053_prompt,#widgetu35053.focus-st #widgetu35053_prompt,#widgetu35053.fld-err-st #widgetu35053_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u28863
{
	z-index: 223;
	width: 64px;
	position: relative;
	margin-right: -10000px;
}

#u28865
{
	position: absolute;
	width: 64px;
	height: 64px;
}

#u28865.PamphletThumbSelected
{
	width: 64px;
	height: 64px;
	min-height: 0px;
	margin: 0px;
}

#u28878
{
	position: absolute;
	width: 30px;
	padding-bottom: 5px;
	top: -697px;
	left: 339px;
}

#u28878:hover
{
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u28878:active
{
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u28879-4
{
	z-index: 226;
	width: 20px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

