.version.index /* version checker */
{
	color: #00001F;
	background-color: #FD30E0;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 729px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -18px;
	margin-bottom: -1px;
	width: 0.01px;/* should not cover content below */
}

#u41698
{
	z-index: 167;
	height: 122px;
	position: fixed;
	top: -27px;
}

#u41698-bw
{
	z-index: 167;
}

#home
{
	left: -500px;
	position: relative;
}

#u37462
{
	z-index: 168;
	width: 909px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 70px;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -460px;
}

#u37534
{
	z-index: 232;
	width: 187px;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -460px;
}

#menuu37463
{
	z-index: 169;
	width: 514px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 48px;
	left: 50%;
	margin-left: -65px;
}

#u37478
{
	width: 108px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u37479
{
	width: 74px;
	border-color: #000000;
	background-color: transparent;
	border-radius: 1px;
	padding-left: 17px;
	padding-right: 17px;
	padding-bottom: 18px;
	position: relative;
}

#u37479.MuseMenuActive
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u37480-4
{
	width: 74px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 20px;
	letter-spacing: 3px;
	color: #5E5B5B;
	line-height: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37479:hover #u37480-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 74px;
	margin: 0px;
}

#u37479.MuseMenuActive #u37480-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 74px;
	margin: 0px;
}

#u37479:hover #u37480-4 p
{
	color: #D8D2D2;
	visibility: inherit;
}

#u37483
{
	width: 454px;
	background-color: transparent;
	top: 42px;
}

#u37484
{
	width: 454px;
	background-color: #D8D2D2;
	position: relative;
}

#u37514
{
	width: 281px;
	background: #FFFFFF url("../images/u37514-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	padding: 2px 171px 5px 2px;
}

#u37514:hover
{
	background: #FFFFFF url("../images/u37514-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#AAAAAA),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#AAAAAA ,#FFFFFF 46%);
	background: linear-gradient(to right,#AAAAAA ,#FFFFFF 46%);
	width: 281px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u37516-4
{
	width: 277px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #5E5B5B;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37514:hover #u37516-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 277px;
	margin: 0px;
}

#u37514.MuseMenuActive #u37516-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 277px;
	margin: 0px;
}

#u37488
{
	width: 302px;
	background: #FFFFFF url("../images/u37514-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	padding: 2px 150px 5px 2px;
}

#u37488:hover
{
	background: #FFFFFF url("../images/u37514-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#AAAAAA),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#AAAAAA ,#FFFFFF 46%);
	background: linear-gradient(to right,#AAAAAA ,#FFFFFF 46%);
	width: 302px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u37489-4
{
	width: 298px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #5E5B5B;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37488:hover #u37489-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 298px;
	margin: 0px;
}

#u37488.MuseMenuActive #u37489-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 298px;
	margin: 0px;
}

#u37495
{
	width: 219px;
	background: #FFFFFF url("../images/u37514-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	padding: 2px 233px 5px 2px;
}

#u37495:hover
{
	background: #FFFFFF url("../images/u37514-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#AAAAAA),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#AAAAAA ,#FFFFFF 46%);
	background: linear-gradient(to right,#AAAAAA ,#FFFFFF 46%);
	width: 219px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u37497-4
{
	width: 215px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #5E5B5B;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37495:hover #u37497-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 215px;
	margin: 0px;
}

#u37495.MuseMenuActive #u37497-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 215px;
	margin: 0px;
}

#u37521
{
	width: 252px;
	background: #FFFFFF url("../images/u37514-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	padding: 2px 200px 5px 2px;
}

#u37521:hover
{
	background: #FFFFFF url("../images/u37514-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#AAAAAA),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#AAAAAA ,#FFFFFF 46%);
	background: linear-gradient(to right,#AAAAAA ,#FFFFFF 46%);
	width: 252px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u37524-4
{
	width: 248px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #5E5B5B;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37521:hover #u37524-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 248px;
	margin: 0px;
}

#u37521.MuseMenuActive #u37524-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 248px;
	margin: 0px;
}

#u37500
{
	width: 421px;
	background: #FFFFFF url("../images/u37514-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	padding: 2px 31px 5px 2px;
}

#u37500:hover
{
	background: #FFFFFF url("../images/u37514-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#AAAAAA),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#AAAAAA ,#FFFFFF 46%);
	background: linear-gradient(to right,#AAAAAA ,#FFFFFF 46%);
	width: 421px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u37503-4
{
	width: 417px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #5E5B5B;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37500:hover #u37503-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 417px;
	margin: 0px;
}

#u37500.MuseMenuActive #u37503-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 417px;
	margin: 0px;
}

#u37513,#u37485,#u37492,#u37520,#u37499,#u37506
{
	width: 454px;
	background-color: transparent;
	position: relative;
}

#u37507
{
	width: 208px;
	background: #FFFFFF url("../images/u37514-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#E6E4E4),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#E6E4E4 ,#FFFFFF 46%);
	background: linear-gradient(to right,#E6E4E4 ,#FFFFFF 46%);
	border-color: #777777;
	position: relative;
	margin-right: -10000px;
	padding: 2px 244px 5px 2px;
}

#u37507:hover
{
	background: #FFFFFF url("../images/u37514-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#AAAAAA),color-stop(46%, #FFFFFF));
	background: -webkit-linear-gradient(left,#AAAAAA ,#FFFFFF 46%);
	background: linear-gradient(to right,#AAAAAA ,#FFFFFF 46%);
	width: 208px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u37508-4
{
	width: 204px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #5E5B5B;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37507:hover #u37508-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 204px;
	margin: 0px;
}

#u37507.MuseMenuActive #u37508-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 204px;
	margin: 0px;
}

#u37464
{
	width: 132px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#u37465
{
	width: 99px;
	border-color: #000000;
	background-color: transparent;
	border-radius: 1px;
	padding-left: 16px;
	padding-right: 17px;
	padding-bottom: 18px;
	position: relative;
}

#u37465.MuseMenuActive
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u37468-4
{
	width: 99px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 20px;
	letter-spacing: 3px;
	color: #5E5B5B;
	line-height: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37465:hover #u37468-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 99px;
	margin: 0px;
}

#u37465.MuseMenuActive #u37468-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 99px;
	margin: 0px;
}

#u37465:hover #u37468-4 p
{
	color: #D8D2D2;
	visibility: inherit;
}

#u37527
{
	width: 158px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 244px;
}

#u37530
{
	width: 125px;
	border-color: #000000;
	background-color: transparent;
	border-radius: 1px;
	padding-left: 16px;
	padding-right: 17px;
	padding-bottom: 18px;
	position: relative;
}

#u37530.MuseMenuActive
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u37533-4
{
	width: 125px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 20px;
	letter-spacing: 3px;
	color: #5E5B5B;
	line-height: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37530:hover #u37533-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 125px;
	margin: 0px;
}

#u37530.MuseMenuActive #u37533-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 125px;
	margin: 0px;
}

#u37530:hover #u37533-4 p
{
	color: #D8D2D2;
	visibility: inherit;
}

#u37471
{
	width: 110px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 404px;
}

#u37474
{
	width: 77px;
	border-color: #000000;
	background-color: transparent;
	border-radius: 1px;
	padding-left: 16px;
	padding-right: 17px;
	padding-bottom: 18px;
	position: relative;
}

#u37475-4
{
	width: 77px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 20px;
	letter-spacing: 3px;
	color: #5E5B5B;
	line-height: 24px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u37474:hover #u37475-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 77px;
	margin: 0px;
}

#u37474.MuseMenuActive #u37475-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 77px;
	margin: 0px;
}

#u37474:hover #u37475-4 p
{
	color: #D8D2D2;
	visibility: inherit;
}

#u37479.MuseMenuActive #u37480-4 p,#u37465.MuseMenuActive #u37468-4 p,#u37530.MuseMenuActive #u37533-4 p,#u37474.MuseMenuActive #u37475-4 p
{
	color: #5E5B5B;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u4275-22
{
	z-index: 19;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 219px;
	left: 537px;
}

#u5898
{
	z-index: 2;
	width: 776px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 231px;
	left: 75px;
}

#u4266
{
	z-index: 3;
	width: 776px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u4269-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u4270-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 147px;
}

#u4268-4
{
	z-index: 12;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 93px;
}

#u4271
{
	z-index: 16;
	width: 345px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 431px;
}

#u5834
{
	z-index: 18;
	width: 341px;
	min-height: 71px;
	border-style: solid;
	border-width: 1px;
	border-color: #5E5B5B;
	background-color: #FFFFFF;
	color: #5E5B5B;
	font-size: 25px;
	line-height: 30px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 89px;
	margin-top: 107px;
	position: relative;
}

.js #u4275-22.ose_pre_init,.js #u4269-4.ose_pre_init,.js #u4270-4.ose_pre_init,.js #u4268-4.ose_pre_init,.js #u4271.ose_pre_init,.js #u5834.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#contactus
{
	left: -501px;
	margin-top: 291px;
	position: relative;
}

#u8052-3
{
	z-index: 63;
	width: 9px;
	background-color: transparent;
	left: -813px;
	margin-top: 768px;
	position: relative;
}

#u8211
{
	z-index: 110;
	height: 132px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0) ,#FFFFFF 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0) ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#FFFFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#FFFFFFFF', GradientType=0)";
}

.js body.initialized
{
	visibility: visible;
}

#u8211-bw
{
	z-index: 110;
	margin-top: 161px;
	height: 132px;
}

#u8782
{
	z-index: 153;
	min-height: 249.87199999999984px;
	background-color: #3995A7;
	padding-bottom: 0px;
}

#u8782_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 55px;
	padding-bottom: 49px;
}

#u8715-4
{
	z-index: 154;
	width: 912px;
	min-height: 57px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 37px;
	font-size: 31px;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	left: 128px;
	position: relative;
}

#u21677
{
	z-index: 158;
	width: 298px;
	min-height: 71px;
	border-style: solid;
	border-width: 1px;
	border-color: #5E5B5B;
	background-color: #FFFFFF;
	color: #5E5B5B;
	font-size: 25px;
	line-height: 30px;
	font-family: abel, sans-serif;
	font-weight: 400;
	left: 430px;
	margin-top: 15px;
	position: relative;
}

#u8782-bw
{
	z-index: 153;
	min-height: 249.87199999999984px;
}

#pissues
{
	width: 0.01px;
	margin-left: -758px;
	margin-top: -2px;
}

#issues
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 241px;
}

#u21718
{
	z-index: 152;
	min-height: 258.9499999999996px;
	background-color: #D8D2D2;
	padding-bottom: 0px;
}

#u21718_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 63px;
	padding-bottom: 19px;
}

#u21686-4
{
	z-index: 159;
	width: 920px;
	min-height: 49px;
	background-color: transparent;
	color: #5E5B5B;
	line-height: 37px;
	font-size: 31px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	left: 118px;
	position: relative;
}

#pu40954
{
	width: 0.01px;
	left: 431px;
	position: relative;
}

#u40954
{
	z-index: 163;
	width: 128px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u40974
{
	z-index: 165;
	width: 128px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 170px;
}

#u21718-bw
{
	z-index: 152;
	min-height: 258.9499999999996px;
}

#pu41017
{
	width: 0.01px;
	margin-left: 204px;
	margin-top: 71px;
}

#u41017
{
	z-index: 44;
	width: 547px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#pu41018-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u41018-4
{
	z-index: 45;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u41019-4
{
	z-index: 49;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u41022-4
{
	z-index: 53;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 28px;
}

#u41020
{
	z-index: 57;
	width: 255px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 292px;
}

#u41039-4
{
	z-index: 59;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 325px;
}

#u42744-4
{
	z-index: 66;
	width: 672px;
	min-height: 35px;
	background-color: transparent;
	color: #5E5B5B;
	line-height: 29px;
	font-size: 24px;
	text-align: justify;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 149px;
	margin-top: 32px;
	position: relative;
}

#pbuttonu42921
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 46px;
}

#buttonu42921
{
	z-index: 70;
	width: 303px;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/islam_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu42921:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #545454 url("../images/islam.jpg") no-repeat center center;
	background-size: cover;
}

#u43871-6
{
	z-index: 71;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu42921:hover #u43871-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu42921.ButtonSelected #u43871-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

.js body,#buttonu42921:hover #u43871-6 p
{
	visibility: hidden;
}

#buttonu42942
{
	z-index: 103;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 313px;
	background: transparent url("../images/immigration_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu42942:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../images/immigration.jpg") no-repeat center center;
	background-size: cover;
}

#u43874-6
{
	z-index: 104;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu42942:hover #u43874-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu42942.ButtonSelected #u43874-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu42942:hover #u43874-6 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#buttonu42930
{
	z-index: 77;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 627px;
	background: transparent url("../images/womem_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu42930:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../images/lgbtq.jpg") no-repeat center center;
	background-size: cover;
}

#u43877-6
{
	z-index: 78;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu42930:hover #u43877-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu42930.ButtonSelected #u43877-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu42930:hover #u43877-6 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#pbuttonu42936
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 9px;
}

#buttonu42936
{
	z-index: 91;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/environement_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu42936:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/environement-cropped.jpg") no-repeat center center;
	background-size: cover;
}

#u43880-4
{
	z-index: 92;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu42936:hover #u43880-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu42936.ButtonSelected #u43880-4
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu42936:hover #u43880-4 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#buttonu42933
{
	z-index: 84;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 314px;
	background: transparent url("../images/lgbtq_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu42933:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/women%20right.jpg") no-repeat center center;
	background-size: cover;
}

#u43883-6
{
	z-index: 85;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu42933:hover #u43883-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu42933.ButtonSelected #u43883-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu42933:hover #u43883-6 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#buttonu42939
{
	z-index: 96;
	width: 303px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	border-color: #787878;
	position: relative;
	margin-right: -10000px;
	left: 627px;
	background: transparent url("../images/voters_blur.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu42939:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-timing-function: ease;
	width: 303px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #545454 url("../images/voters.jpg") no-repeat center center;
	background-size: cover;
}

#u43886-6
{
	z-index: 97;
	width: 303px;
	min-height: 120px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	color: #FFFFFF;
	line-height: 48px;
	font-size: 40px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu42939:hover #u43886-6
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
}

#buttonu42939.ButtonSelected #u43886-6
{
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 120px;
	width: 303px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(127,127,127,0.5);
}

#buttonu42939:hover #u43886-6 p
{
	visibility: hidden;/* 100% transparent text is hidden */
}

#buttonu42921.ButtonSelected #u43871-6 p,#buttonu42942.ButtonSelected #u43874-6 p,#buttonu42930.ButtonSelected #u43877-6 p,#buttonu42936.ButtonSelected #u43880-4 p,#buttonu42933.ButtonSelected #u43883-6 p,#buttonu42939.ButtonSelected #u43886-6 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#about
{
	left: -758px;
	margin-top: 74px;
	position: relative;
}

#u41666
{
	z-index: 111;
	min-height: 901.7561727500001px;
	background-color: #D8D2D2;
	padding-bottom: 0px;
}

#u41666_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 67px;
	padding-bottom: 8px;
}

#pu41644
{
	width: 0.01px;
	left: 293px;
	position: relative;
}

#u41644
{
	z-index: 112;
	width: 292px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
}

#u41648-4
{
	z-index: 113;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u41649-4
{
	z-index: 117;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u41647-4
{
	z-index: 121;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 28px;
}

#u41669
{
	z-index: 125;
	width: 255px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 292px;
}

#u41650-4
{
	z-index: 127;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 299px;
}

.js #u41039-4.ose_pre_init,.js #u41650-4.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u47609-4
{
	z-index: 131;
	width: 159px;
	min-height: 35px;
	background-color: transparent;
	color: #5E5B5B;
	line-height: 29px;
	font-size: 24px;
	text-align: justify;
	font-family: abel, sans-serif;
	font-weight: 400;
	left: 501px;
	margin-top: 24px;
	position: relative;
}

#u49473-17
{
	z-index: 135;
	width: 920px;
	min-height: 622px;
	background-color: transparent;
	color: #5E5B5B;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	left: 120px;
	margin-top: 19px;
	position: relative;
}

#u49473-2,#u49473-7
{
	font-size: 45px;
	line-height: 56px;
}

#u49473-4,#u49473-5,#u49473-9,#u49473-10,#u49473-12,#u49473-13,#u49473-15
{
	font-size: 24px;
	line-height: 30px;
}

#u41666-bw
{
	z-index: 111;
	min-height: 901.7561727500001px;
}

#pu25460
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -3px;
}

#u25460
{
	z-index: 234;
	min-height: 386.7376545000079px;
	padding-bottom: 0px;
}

#u25460_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 46px;
	padding-bottom: 20px;
}

#pu45753
{
	width: 0.01px;
	left: 120px;
	position: relative;
}

#u45753
{
	z-index: 250;
	width: 302px;
	position: relative;
	margin-right: -10000px;
}

#u26765-4
{
	z-index: 251;
	position: relative;
	margin-right: -10000px;
}

#u26766-4
{
	z-index: 255;
	position: relative;
	margin-right: -10000px;
	left: 99px;
}

#u26771-4
{
	z-index: 259;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
}

#u25776-7
{
	z-index: 243;
	width: 460px;
	min-height: 165px;
	position: relative;
	margin-right: -10000px;
	left: 460px;
}

#pu45735
{
	width: 0.01px;
	left: 548px;
	margin-top: 17px;
	position: relative;
}

#u45735
{
	z-index: 235;
	width: 64px;
	position: relative;
	margin-right: -10000px;
}

#u45725
{
	z-index: 237;
	width: 64px;
	position: relative;
	margin-right: -10000px;
	left: 128px;
}

#u25482-4
{
	z-index: 239;
	width: 920px;
	min-height: 58px;
	left: 120px;
	margin-top: 16px;
	position: relative;
}

#u25460-bw
{
	z-index: 234;
	min-height: 386.7376545000079px;
}

#pamphletu28862
{
	z-index: 264;
	width: 0.01px;
	height: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 228px;
	left: 420px;
}

#u28867
{
	position: absolute;
	width: 419px;
	top: -697px;
	left: -50px;
}

#u28867popup
{
	z-index: 265;
}

#u28872
{
	z-index: 266;
	width: 419px;
	height: 623px;
	margin-right: -10000px;
	position: relative;
}

#widgetu35052
{
	z-index: 267;
	width: 0.01px;
	height: 555px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 38px;
}

#widgetu35064
{
	z-index: 268;
	width: 342px;
	height: 53px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu35064.fld-err-st
{
	width: 342px;
	height: 53px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u35066-4
{
	z-index: 269;
	width: 200px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u35065-4
{
	z-index: 273;
	width: 328px;
	min-height: 20px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu35064:hover #u35065-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35064.focus-st #u35065-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35057
{
	z-index: 277;
	width: 342px;
	height: 53px;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu35057.fld-err-st
{
	width: 342px;
	height: 53px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u35059-4
{
	z-index: 278;
	width: 200px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u35058-4
{
	z-index: 282;
	width: 328px;
	min-height: 20px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu35064.fld-err-st #u35065-4,#widgetu35057:hover #u35058-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35057.focus-st #u35058-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35057.fld-err-st #u35058-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 20px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35064_input,#widgetu35064_prompt,#widgetu35057_input,#widgetu35057_prompt
{
	width: 328px;
	min-height: 20px;
	padding: 6px;
}

#u35068-4
{
	z-index: 286;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 530px;
	left: 140px;
}

#u35063-4
{
	z-index: 290;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 530px;
	left: 140px;
}

#u35062-4
{
	z-index: 294;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 530px;
	left: 140px;
}

#widgetu35052.frm-sub-st #u35068-4,#widgetu35052.frm-subm-err-st #u35063-4,#widgetu35052.frm-subm-ok-st #u35062-4
{
	min-height: 25px;
}

#u35061-17
{
	z-index: 298;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 525px;
}

#widgetu35053
{
	z-index: 315;
	width: 342px;
	height: 391px;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu35053.fld-err-st
{
	width: 342px;
	height: 391px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u35056-4
{
	z-index: 316;
	width: 200px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu35064.fld-err-st #u35066-4,#widgetu35057.fld-err-st #u35059-4,#widgetu35053.fld-err-st #u35056-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u35055-4
{
	z-index: 320;
	width: 328px;
	min-height: 358px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu35053:hover #u35055-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 358px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35053.focus-st #u35055-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 358px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35053.fld-err-st #u35055-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 358px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu35053_input,#widgetu35053_prompt
{
	width: 328px;
	min-height: 358px;
	padding: 6px;
}

#widgetu35064:hover #widgetu35064_input,#widgetu35064.focus-st #widgetu35064_input,#widgetu35064.fld-err-st #widgetu35064_input,#widgetu35064:hover #widgetu35064_prompt,#widgetu35064.focus-st #widgetu35064_prompt,#widgetu35064.fld-err-st #widgetu35064_prompt,#widgetu35057:hover #widgetu35057_input,#widgetu35057.focus-st #widgetu35057_input,#widgetu35057.fld-err-st #widgetu35057_input,#widgetu35057:hover #widgetu35057_prompt,#widgetu35057.focus-st #widgetu35057_prompt,#widgetu35057.fld-err-st #widgetu35057_prompt,#widgetu35053:hover #widgetu35053_input,#widgetu35053.focus-st #widgetu35053_input,#widgetu35053.fld-err-st #widgetu35053_input,#widgetu35053:hover #widgetu35053_prompt,#widgetu35053.focus-st #widgetu35053_prompt,#widgetu35053.fld-err-st #widgetu35053_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u28863
{
	z-index: 324;
	width: 64px;
	position: relative;
	margin-right: -10000px;
}

#u28865
{
	position: absolute;
	width: 64px;
	height: 64px;
}

#u28865.PamphletThumbSelected
{
	width: 64px;
	height: 64px;
	min-height: 0px;
	margin: 0px;
}

#u28878
{
	position: absolute;
	width: 30px;
	padding-bottom: 5px;
	top: -697px;
	left: 339px;
}

#u28878:hover
{
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u28878:active
{
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u28879-4
{
	z-index: 327;
	width: 20px;
	min-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

