<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="TestDataCreator" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <!-- Context Parameters -->
  <context-param>
    <param-name>wrw-properties-resource</param-name>
    <param-value>/application.properties</param-value>
  </context-param>
  <!-- WRW Servlet -->
  <servlet>
    <servlet-name>WrwServlet</servlet-name>
    <servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>com.weremain.fund.wrw.Bootstrap</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>requestProcessorAttribute</param-name>
      <param-value>restApplication2ProcessorID</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>WrwServlet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
</web-app>
